interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1952667492&torev=1952667555
  response:
    body:
      string: '{"compare":{"fromid":4246474,"fromrevid":1952667492,"fromns":0,"fromtitle":"Q4115189","fromuser":"BrokenSegue","fromuserid":193966,"toid":4246474,"torevid":1952667555,"tons":0,"totitle":"Q4115189","touser":"BrokenSegue","touserid":193966,"prev":1952663526,"next":1952763643,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">links / dewiki / badges / 0</td><td colspan=\"2\"
        class=\"diff-lineno\">links / dewiki / badges / 0</td></tr><tr><td colspan=\"2\">\u00a0</td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><a title=\"Q20748091\" href=\"/wiki/Q20748091\">not
        proofread</a></ins></div></td></tr><tr><td colspan=\"2\" class=\"diff-lineno\">links
        / dewiki / badges / 1</td><td colspan=\"2\" class=\"diff-lineno\">links /
        dewiki / badges / 1</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><a title=\"Q20748094\" href=\"/wiki/Q20748094\">problematic</a></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\">links / dewiki / badges / 2</td><td colspan=\"2\"
        class=\"diff-lineno\">links / dewiki / badges / 2</td></tr><tr><td class=\"diff-marker\"
        data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del class=\"diffchange
        diffchange-inline\"><a title=\"Q17506997\" href=\"/wiki/Q17506997\">featured
        list badge</a></del></div></td></tr><tr><td colspan=\"2\" class=\"diff-lineno\">links
        / dewiki / badges / 3</td><td colspan=\"2\" class=\"diff-lineno\">links /
        dewiki / badges / 3</td></tr><tr><td class=\"diff-marker\" data-marker=\"\u2212\"></td><td
        class=\"diff-deletedline\"><div><del class=\"diffchange diffchange-inline\"><a
        title=\"Q17580674\" href=\"/wiki/Q17580674\">featured portal badge</a></del></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1952667555&rvendid=1952667492&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-12T22:46:38Z","comment":"/*
        wbsetsitelink-set-badges:1|dewiki */ [[Q20748091]], [[Q20748094]]","tags":["mw-reverted","wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-12T22:46:30Z","comment":"/*
        wbsetsitelink-set-badges:1|dewiki */ [[Q17506997]], [[Q17580674]]","tags":["mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
