interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1953425917&torev=1953435688
  response:
    body:
      string: '{"compare":{"fromid":4246474,"fromrevid":1953425917,"fromns":0,"fromtitle":"Q4115189","fromuser":"BrokenSegue","fromuserid":193966,"toid":4246474,"torevid":1953435688,"tons":0,"totitle":"Q4115189","touser":"BrokenSegue","touserid":193966,"prev":1953423760,"next":1953439427,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P5189\" href=\"/wiki/Property:P5189\">Sandbox-Form</a></td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><a
        href=\"/wiki/Lexeme:L452382#F1\" title=\"L452382-F1: singular, indefinite\"><span
        lang=\"nb\" dir=\"ltr\">L</span></a></span></ins></div></td></tr><tr><td colspan=\"2\"
        class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P5189\" href=\"/wiki/Property:P5189\">Sandbox-Form</a>:
        <a href=\"/wiki/Lexeme:L452382#F1\" title=\"L452382-F1: singular, indefinite\"><span
        lang=\"nb\" dir=\"ltr\">L</span></a> / ra[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1953435688&rvendid=1953425917&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-14T05:21:39Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P5189]]: [[Lexeme:L452382#F1]]","tags":["mw-reverted","wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-14T04:59:28Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P2534]]: a^2+b^2=c^2","tags":["mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1953435688&rvendid=1953425917&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-14T05:21:39Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P5189]]: [[Lexeme:L452382#F1]]","tags":["mw-reverted","wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-14T04:59:28Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P2534]]: a^2+b^2=c^2","tags":["mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
