interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1934969781&torev=1942162509
  response:
    body:
      string: '{"compare":{"fromid":101846132,"fromrevid":1934969781,"fromns":0,"fromtitle":"Q106560606","fromuser":"Lainobeltz","fromuserid":1649272,"toid":101846132,"torevid":1942162509,"tons":0,"totitle":"Q106560606","touser":"BorkedBot","touserid":4019206,"prev":1925739718,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P569\"
        href=\"/wiki/Property:P569\">date of birth</a>: 21 January 1956 / rank</td><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P569\"
        href=\"/wiki/Property:P569\">date of birth</a>: 21 January 1956 / rank</td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span>Normal rank</span></del></div></td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span>Preferred rank</span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P569\" href=\"/wiki/Property:P569\">date of birth</a>:
        21 January 1956 / qualifier</td></tr><tr><td colspan=\"2\">\u00a0</td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span><a title=\"Property:P7452\" href=\"/wiki/Property:P7452\">reason
        for preferred rank</a>: <a title=\"Q71536040\" href=\"/wiki/Q71536040\">most
        precise value</a></span></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q106560606&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1942162509&rvendid=1934969781&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"101846132":{"pageid":101846132,"ns":0,"title":"Q106560606","revisions":[{"user":"BorkedBot","timestamp":"2023-07-29T04:05:42Z","comment":"/*
        wbsetqualifier-add:1| */ [[Property:P7452]]: [[Q71536040]]","tags":[]},{"user":"BorkedBot","timestamp":"2023-07-29T04:05:39Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P569]]: 21 January 1956","tags":[]},{"user":"Lainobeltz","timestamp":"2023-07-15T16:29:05Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P569]]: 21 January 1956","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
