interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1903569755&torev=1956762765
  response:
    body:
      string: '{"compare":{"fromid":112853519,"fromrevid":1903569755,"fromns":0,"fromtitle":"Q118347644","fromuser":"92.184.112.117","fromuserid":0,"toid":112853519,"torevid":1956762765,"tons":0,"totitle":"Q118347644","touser":"92.184.107.241","touserid":0,"prev":1898433145,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P40\" href=\"/wiki/Property:P40\">child</a></td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><a
        title=\"Q121633519\" href=\"/wiki/Q121633519\">Am\u00e9lie Armogathe</a></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P40\" href=\"/wiki/Property:P40\">child</a>: <a title=\"Q121633519\"
        href=\"/wiki/Q121633519\">Am\u00e9lie Armogathe</a> / rank</td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span>Normal
        rank</span></ins></div></td></tr><tr><td colspan=\"2\" class=\"diff-lineno\"></td><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P40\" href=\"/wiki/Property:P40\">child</a>:
        <a title=\"Q121633519\" href=\"/wiki/Q121633519\">Am\u00e9lie Armogathe</a>
        / reference</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><a title=\"Property:P854\" href=\"/wiki/Property:P854\">reference
        URL</a>: <a rel=\"nofollow\" class=\"external free\" href=\"https://gw.geneanet.org/wujekvero2?n=armogathe&amp;oc=&amp;p=joseph\">https://gw.geneanet.org/wujekvero2?n=armogathe&amp;oc=&amp;p=joseph</a></span></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q118347644&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1956762765&rvendid=1903569755&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"112853519":{"pageid":112853519,"ns":0,"title":"Q118347644","revisions":[{"user":"92.184.107.241","anon":"","timestamp":"2023-08-19T20:30:44Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P40]]: [[Q121633519]]","tags":["wikidata-ui"]},{"user":"92.184.112.117","anon":"","timestamp":"2023-05-27T20:29:10Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P570]]: unknown value","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P40%7CP854%7CQ121633519&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"P40":{"type":"property","datatype":"wikibase-item","id":"P40","labels":{"de":{"language":"de","value":"Kind"},"en":{"language":"en","value":"child"},"fr":{"language":"fr","value":"enfant"},"it":{"language":"it","value":"figlio"},"ru":{"language":"ru","value":"\u0434\u0435\u0442\u0438"},"es":{"language":"es","value":"hijo
        o hija"},"nl":{"language":"nl","value":"kind"},"pt":{"language":"pt","value":"descend\u00eancia"}},"descriptions":{"de":{"language":"de","value":"Kind
        der Person"},"fr":{"language":"fr","value":"lien familial direct indiquant
        que l''objet du lien est un fils ou une fille du sujet (ind\u00e9pendamment
        de son \u00e2ge)"},"it":{"language":"it","value":"grado di parentela"},"es":{"language":"es","value":"familiar
        descendiente en primer grado de parentesco"},"pt":{"language":"pt","value":"um
        ou mais filhos do sujeito"},"nl":{"language":"nl","value":"kind van deze persoon"},"ru":{"language":"ru","value":"\u0434\u0435\u0442\u0438
        \u044d\u0442\u043e\u0433\u043e \u0447\u0435\u043b\u043e\u0432\u0435\u043a\u0430"},"en":{"language":"en","value":"subject
        has object as child. Do not use for stepchildren\u2014use \"relative\" (P1038),
        qualified with \"type of kinship\" (P1039)"}}},"P854":{"type":"property","datatype":"url","id":"P854","labels":{"es":{"language":"es","value":"direcci\u00f3n
        web de la referencia"},"fr":{"language":"fr","value":"URL de la r\u00e9f\u00e9rence"},"it":{"language":"it","value":"URL
        di riferimento"},"nl":{"language":"nl","value":"URL voor bron"},"pt":{"language":"pt","value":"endere\u00e7o
        eletr\u00f3nico da refer\u00eancia"},"de":{"language":"de","value":"URL der
        Fundstelle"},"ru":{"language":"ru","value":"URL-\u0441\u04[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content%7Cids&titles=Q118347644&rvstartid=1903569755&format=json&rvslots=main&rvlimit=1
  response:
    body:
      string: '{"continue":{"rvcontinue":"20230518085738|1898433145","continue":"||"},"query":{"pages":{"112853519":{"pageid":112853519,"ns":0,"title":"Q118347644","revisions":[{"revid":1903569755,"parentid":1898433145,"slots":{"main":{"contentmodel":"wikibase-item","contentformat":"application/json","*":"{\"type\":\"item\",\"id\":\"Q118347644\",\"labels\":{\"en\":{\"language\":\"en\",\"value\":\"David
        Maum\\u00e9jean\"}},\"descriptions\":[],\"aliases\":[],\"claims\":{\"P31\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P31\",\"hash\":\"ad7d38a03cdd40cdc373de0dc4e7b7fcbccb31d9\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":5,\"id\":\"Q5\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q118347644$f6ef2f9c-41fb-829b-c575-7d185e2890bd\",\"rank\":\"normal\"}],\"P21\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P21\",\"hash\":\"85ad4b1c7348f7a5aac521135040d74e91fb5939\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":6581097,\"id\":\"Q6581097\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q118347644$a947cf01-45fa-90fa-02c4-fc868f31d7c9\",\"rank\":\"normal\"}],\"P39\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P39\",\"hash\":\"d982acf8ab75130dbe2720b6ff41317af77dade3\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":65466624,\"id\":\"Q65466624\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"qualifiers\":{\"P582\":[{\"snaktype\":\"value\",\"property\":\"P582\",\"hash\":\"8bc4d8a19d767d12d3397bcb4b335b448ce47d7e\",\"datavalue\":{\"value\":{\"time\":\"+1919-00-00T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":9,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}],\"P580\":[{\"snaktype\":\"value\",\"property\":\"P580\",\"hash\":\"fc982c597fff226f45eb431ca41e441ae164c0e5\",\"datavalue\":{\"value\":{\"time\":\"+1912-00-00T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":9,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}]},\"qualifiers-order\":[\"P582\",\"P580\"],\"id\":\"Q118347644$3ee3d330-4894-6c5b-74c4-98cb2e85fad4\",\"rank\":\"normal\",\"references\":[{\"hash\":\"08696d06fbcc920cd8577991ec272c95b7dca1fc\",\"snaks\":{\"P854\":[{\"snaktype\":\"value\",\"property\":\"P854\",\"hash\":\"e98aed657ecd35e22908273866039bbc40342bc7\",\"datavalue\":{\"value\":\"https:\\/\\/brozer.fr\\/telearchives\\/#depot_collections.php?d=62&r=63592&c=64325&fn=113\",\"type\":\"string\"}}]},\"snaks-order\":[\"P854\"]}]},{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P39\",\"hash\":\"ef953ed166a816b241bc17d5e77742ab387b17e2\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":118313875,\"id\":\"Q118313875\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"qualifiers\":{\"P580\":[{\"snaktype\":\"value\",\"property\":\"P580\",\"hash\":\"26de8627027486e2646d856226a875376bd91720\",\"datavalue\":{\"value\":{\"time\":\"+1919-00-00T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":9,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}],\"P582\":[{\"snaktype\":\"value\",\"property\":\"P582\",\"hash\":\"a7a94714d7a119cdba565f9e64b0bfe454a0e373\",\"datavalue\":{\"value\":{\"time\":\"+1929-00-00T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":9,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}],\"P1366\":[{\"snaktype\":\"value\",\"property\":\"P1366\",\"hash\":\"673b7fb58dd286f183997609a22568b6bf940eb3\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":118342659,\"id\":\"Q118342659\"},\"type\":\"wikibase-entityid\"}}],\"P1365\":[{\"snaktype\":\"somevalue\",\"property\":\"P1365\",\"hash\":\"88ba35b3848d02504dfc83e16d64bd1bcbad8cdb\"}]},\"qualifiers-order\":[\"P580\",\"P582\",\"P1366\",\"P1365\"],\"id\":\"Q118347644$382a93c6-48f8-124e-792d-798b4aebf6e0\",\"rank\":\"normal\",\"references\":[{\"hash\":\"8aeea61561ef2ae2fbe008e0f0d4c86f27b60447\",\"snaks\":{\"P854\":[{\"snaktype\":\"value\",\"property\":\"P854\",\"hash\":\"a27bae30e3a9e146cef2f8b1de61e9f1a3bee14b\",\"datavalue\":{\"value\":\"https:\\/\\/brozer.fr\\/telearchives\\/#depot_collections.php?d=62&r=63592&c=64325&fn=31\",\"type\":\"string\"}}]},\"snaks-order\":[\"P854\"]}]}],\"P735\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P735\",\"hash\":\"00753eb958253c68845500350937765f9870ca4d\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":18057751,\"id\":\"Q18057751\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q118347644$A176E1C1-FF32-4B9D-B421-B9EBC9C0B9C7\",\"rank\":\"normal\"}],\"P570\":[{\"mainsnak\":{\"snaktype\":\"somevalue\",\"property\":\"P570\",\"hash\":\"47120b7358ae3d3ae5f0762e83028363c1caef4a\"},\"type\":\"statement\",\"id\":\"Q118347644$4358a2e5-4102-e677-60b9-38ac0cef8cf2\",\"rank\":\"normal\"}]},\"sitelinks\":[]}"}}}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q18057751%7CQ5%7CQ6581097&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"Q18057751":{"type":"item","id":"Q18057751","labels":{"en":{"language":"en","value":"David"},"fr":{"language":"fr","value":"David"},"ru":{"language":"ru","value":"\u0414\u0430\u0432\u0438\u0434
        / \u0414\u044d(\u0439)\u0432\u0438\u0434"},"nl":{"language":"nl","value":"David"},"it":{"language":"it","value":"David"},"de":{"language":"de","value":"David"},"pt":{"language":"pt","value":"David"},"es":{"language":"es","value":"David"}},"descriptions":{"de":{"language":"de","value":"m\u00e4nnlicher
        Vorname"},"en":{"language":"en","value":"male given name"},"es":{"language":"es","value":"nombre
        masculino"},"fr":{"language":"fr","value":"pr\u00e9nom masculin"},"it":{"language":"it","value":"prenome
        maschile"},"nl":{"language":"nl","value":"mannelijke voornaam"},"pt":{"language":"pt","value":"nome
        pr\u00f3prio masculino"},"ru":{"language":"ru","value":"\u043c\u0443\u0436\u0441\u043a\u043e\u0435
        \u043b\u0438\u0447\u043d\u043e\u0435 \u0438\u043c\u044f - David"}}},"Q5":{"type":"item","id":"Q5","labels":{"en":{"language":"en","value":"human"},"fr":{"language":"fr","value":"\u00eatre
        humain"},"ru":{"language":"ru","value":"\u0447\u0435\u043b\u043e\u0432\u0435\u043a"},"it":{"language":"it","value":"umano"},"de":{"language":"de","value":"Mensch"},"es":{"language":"es","value":"ser
        humano"},"pt":{"language":"pt","value":"ser humano"},"nl":{"language":"nl","value":"mens"}},"descriptions":{"en":{"language":"en","value":"any
        member of Homo sapi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q18057751%7CQ5%7CQ6581097&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car&format=json
  response:
    body:
      string: '{"entities":{"Q18057751":{"type":"item","id":"Q18057751","labels":{"en":{"language":"en","value":"David"},"fr":{"language":"fr","value":"David"},"ru":{"language":"ru","value":"\u0414\u0430\u0432\u0438\u0434
        / \u0414\u044d(\u0439)\u0432\u0438\u0434"},"nl":{"language":"nl","value":"David"},"it":{"language":"it","value":"David"},"de":{"language":"de","value":"David"},"pt":{"language":"pt","value":"David"},"es":{"language":"es","value":"David"},"ar":{"language":"ar","value":"\u062f\u064a\u0641\u064a\u062f"}},"descriptions":{"ar":{"language":"ar","value":"\u0623\u0633\u0645
        \u0645\u0630\u0643\u0631 \u0645\u0639\u0637\u0649 (David)"},"de":{"language":"de","value":"m\u00e4nnlicher
        Vorname"},"en":{"language":"en","value":"male given name"},"es":{"language":"es","value":"nombre
        masculino"},"fr":{"language":"fr","value":"pr\u00e9nom masculin"},"it":{"language":"it","value":"prenome
        maschile"},"nl":{"language":"nl",[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P40%7CP854%7CQ121633519&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car&format=json
  response:
    body:
      string: '{"entities":{"P40":{"type":"property","datatype":"wikibase-item","id":"P40","labels":{"de":{"language":"de","value":"Kind"},"en":{"language":"en","value":"child"},"fr":{"language":"fr","value":"enfant"},"it":{"language":"i[...]
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1903569755&torev=1956762765
  response:
    body:
      string: '{"compare":{"fromid":112853519,"fromrevid":1903569755,"fromns":0,"fromtitle":"Q118347644","fromuser":"92.184.112.117","fromuserid":0,"toid":112853519,"torevid":1956762765,"tons":0,"totitle":"Q118347644","touser":"92.184.107.241","touserid":0,"prev":1898433145,"next":1968025223,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P40\" href=\"/wiki/Property:P40\">child</a></td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><a
        title=\"Q121633519\" href=\"/wiki/Q121633519\">Am\u00e9lie Armogathe</a></span></ins></div></td></tr><[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P40%7CP854%7CQ121633519&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car%7Cuk%7Cbn%7Csq%7Che%7Cko%7Cbg%7Csk%7Cvi%7Cel%7Csv%7Chu%7Cid%7Cast%7Cga%7Cpl%7Cth%7Cfa%7Cur%7Cmk%7Cbe%7Cml%7Ceu%7Czh-hant&format=json
  response:
    body:
      string: '{"entities":{"P40":{"type":"property","datatype":"wikibase-item","id":"P40","labels":{"de":{"language":"de","value":"Kind"},"en":{"language":"en","value":"child"},"fr":{"language":"fr","value":"enfant"},"it":{"language":"it","value":"figlio"},"ru":{"language":"ru","value":"\u0434\u0435\u0442\u0438"},"zh-hant":{"language":"zh-hant","value":"\u5b50\u5973"},"hu":{"language":"hu","value":"gyermek"},"es":{"language":"es","value":"hijo
        o hija"},"nl":{"language":"nl","value":"kind"},"he":{"language":"he","value":"\u05e6\u05d0\u05e6\u05d0"},"el":{"language":"el","value":"\u03c4\u03ad\u03ba\u03bd\u03bf"},"be":{"language":"be","value":"\u0434\u0437\u0456\u0446\u044f"},"pt":{"language":"pt","value":"descend\u00eancia"},"ko":{"language":"ko","value":"\uc790\ub140"},"pl":{"language":"pl","value":"dzieci"},"th":{"language":"th","value":"\u0e25\u0e39\u0e01"},"uk":{"language":"uk","value":"\u0434\u0438\u0442\u0438\u043d\u0430"},"fa":{"language":"fa","value":"\u0641\u0631\u0632\u0646\u062f"},"vi":{"language":"vi","value":"con
        c\u00e1i"},"ar":{"language":"ar","value":"\u0627\u0644\u0627\u0628\u0646"},"sv":{"language":"sv","value":"barn"},"id":{"language":"id","value":"anak"},"bn":{"language":"bn","value":"\u09b8\u09a8\u09cd\u09a4\u09be\u09a8"},"ga":{"language":"ga","value":"p\u00e1iste"},"mk":{"language":"mk","value":"\u0434\u0435\u0442\u0435"},"sk":{"language":"sk","value":"die\u0165a"},"eu":{"language":"eu","value":"seme/alaba"},"bg":{"language":"bg","value":"\u0434\u0435\u0442\u0435"},"ml":{"language":"ml","value":"\u0d2e\u0d15\u0d4d\u0d15\u0d7e"},"ast":{"language":"ast","value":"f\u00edu/a"},"ur":{"language":"ur","value":"\u0627\u0648\u0644\u0627\u062f"},"sq":{"language":"sq","value":"f\u00ebmij\u00eb"}},"descriptions":{"de":{"language":"de","value":"Kind
        der Person"},"fr":{"language":"fr","value":"lien familial direct indiquant
        que l''objet du lien est un fils ou une fille du sujet (ind\u00e9pendamment
        de son \u00e2ge)"},"it":{"language":"it","value":"grado di parentela"},"el":{"language":"el","value":"\u03c0\u03b1\u03b9\u03b4\u03af
        \u03c4\u03bf\u03c5/\u03c4\u03b7\u03c2 \u03b5\u03af\u03bd\u03b1\u03b9 \u03bf/\u03b7
   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q18057751%7CQ5%7CQ6581097&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car%7Cuk%7Cbn%7Csq%7Che%7Cko%7Cbg%7Csk%7Cvi%7Cel%7Csv%7Chu%7Cid%7Cast%7Cga%7Cpl%7Cth%7Cfa%7Cur%7Cmk%7Cbe%7Cml%7Ceu%7Czh-hant&format=json
  response:
    body:
      string: '{"entities":{"Q18057751":{"type":"item","id":"Q18057751","labels":{"en":{"language":"en","value":"D[...]
