interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1953439427&torev=1953444806
  response:
    body:
      string: '{"compare":{"fromid":4246474,"fromrevid":1953439427,"fromns":0,"fromtitle":"Q4115189","fromuser":"BrokenSegue","fromuserid":193966,"toid":4246474,"torevid":1953444806,"tons":0,"totitle":"Q4115189","touser":"BrokenSegue","touserid":193966,"prev":1953435688,"next":1953446430,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P4045\" href=\"/wiki/Property:P4045\">Sandbox-Tabular
        data</a></td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><a class=\"extiw\" href=\"https://commons.wikimedia.org/wiki/Data:FileMediaExt.tab\">Data:FileMediaExt.tab</a></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P4045\" href=\"/wiki/Property:P4045\">Sandbox-Tabular
        data</a>: <a class=\"extiw\" href=\"https://commons.wikimedia.org/wiki/Data:FileMediaExt.tab\">Data:FileMediaExt.tab</a>
        / rank</td></tr><tr><td colspan=\"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1953444806&rvendid=1953439427&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-14T05:44:12Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P4045]]: Data:FileMediaExt.tab","tags":["mw-reverted","wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-14T05:30:59Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P6604]]: \\relative c'' { c d e f | g2
        g | a4 a a a | g1 |}","tags":["mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1953444806&rvendid=1953439427&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-14T05:44:12Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P4045]]: Data:FileMediaExt.tab","tags":["mw-reverted","wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-14T05:30:59Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P6604]]: \\relative c'' { c d e f | g2
        g | a4 a a a | g1 |}","tags":["mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
