interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1774447242&torev=1856453216
  response:
    body:
      string: '{"compare":{"fromid":3193882,"fromrevid":1774447242,"fromns":0,"fromtitle":"Q3350696","fromuser":"LiberatorG","fromuserid":2846880,"toid":3193882,"torevid":1856453216,"tons":0,"totitle":"Q3350696","touser":"176.12.82.139","touserid":0,"prev":1774394022,"next":1856464246,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P570\"
        href=\"/wiki/Property:P570\">date of death</a></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P570\" href=\"/wiki/Property:P570\">date of death</a></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><b class=\"wb-details wb-time-details
        wb-time-rendered\">1646</b><table class=\"wb-details wb-time-details\"><tr><th
        class=\"wb-time-isotime\">Timestamp</th><td class=\"wb-time-isotime\">+1646-00-00T00:00:00Z</td></tr><tr><th
        class=\"wb-time-timezone\">Timezone</th><td class=\"wb-time-timezone\">+00:00</td></tr><tr><th
        class=\"wb-time-calendar\">Calendar</th><td class=\"wb-time-calendar\">Gregorian</td></tr><tr><th
        class=\"wb-time-precision\">Precision</th><td class=\"wb-time-precision\">1
        year</td></tr><tr><th class=\"wb-time-before\">Before</th><td class=\"wb-time-before\">0</td></tr><tr><th
        class=\"wb-time-after\">After</th><td class=\"wb-time-after\">0</td></tr></table></span></del></div></td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span><b class=\"wb-details wb-time-details
        wb-time-rendered\">2050</b><table class=\"wb-details wb-time-details\"><tr><th
        class=\"wb-time-isoti[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q3350696&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1856453216&rvendid=1774447242&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"3193882":{"pageid":3193882,"ns":0,"title":"Q3350696","revisions":[{"user":"176.12.82.139","anon":"","timestamp":"2023-03-20T13:43:54Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P19]]: [[Q419]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"176.12.82.139","anon":"","timestamp":"2023-03-20T13:39:19Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P22]]: [[Q13308]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"176.12.82.139","anon":"","timestamp":"2023-03-20T13:25:19Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P570]]: 2050","tags":["new editor changing
        statement","possible vand[...]
