interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1846303619&torev=1874928741
  response:
    body:
      string: '{"compare":{"fromid":299722,"fromrevid":1846303619,"fromns":0,"fromtitle":"Q311523","fromuser":"Roshkara","fromuserid":5480019,"toid":299722,"torevid":1874928741,"tons":0,"totitle":"Q311523","touser":"186.67.40.154","touserid":0,"prev":1825818807,"next":1874990492,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P569\"
        href=\"/wiki/Property:P569\">date of birth</a></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P569\" href=\"/wiki/Property:P569\">date of birth</a></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><b class=\"wb-details wb-time-details
        wb-time-rendered\">24 December 1977</b><table class=\"wb-details wb-time-details\"><tr><th
        class=\"wb-time-isotime\">Timestamp</th><td class=\"wb-time-isotime\">+1977-12-24T00:00:00Z</td></tr><tr><th
        class=\"wb-time-timezone\">Timezone</th><td class=\"wb-time-timezone\">+00:00</td></tr><tr><th
        class=\"wb-time-calendar\">Calendar</th><td class=\"wb-time-calendar\">Gregorian</td></tr><tr><th
        class=\"wb-time-precision\">Precision</th><td class=\"wb-time-precision\">1
        day</td></tr><tr><th class=\"wb-time-before\">Before</th><td class=\"wb-time-before\">0</td></tr><tr><th
        class=\"wb-time-after\">After</th><td class=\"wb-time-after\">0</td></tr></table></span></del></div></td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span><b class=\"wb-details wb-time-details
        wb-time-rendered\">24 December 990</b><table class=\"wb-details wb-time-details\"><tr><th
        class=\"wb[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q311523&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1874928741&rvendid=1846303619&format=json
  response:
    body:
      string: '{"continue":{"rvcontinue":"20230306211106|1846303619","continue":"||"},"query":{"pages":{"299722":{"pageid":299722,"ns":0,"title":"Q311523","revisions":[{"user":"186.67.40.154","anon":"","timestamp":"2023-04-14T15:43:59Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P22]]: [[Q87523330]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"186.67.40.154","anon":"","timestamp":"2023-04-14T15:43:46Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P26]]: [[Q184224]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"186.67.40.154","anon":"","timestamp":"2023-04-14T15:43:07Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P22]]: [[Q104837753]]","tags":["new editor
        changing statement","mw-[...]
[...]
