interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1747008787&torev=1838236382
  response:
    body:
      string: '{"error":{"code":"nosuchrevid","info":"There is no revision with ID
        1747008787.","*":"See https://www.wikidata.org/w/api.php for API usage. Subscribe
        to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/postorius/lists/mediawiki-api-announce.lists.wikimedia.org/&gt;
        for notice of API deprecations and breaking changes."},"servedby":"mw2370"}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      mediawiki-api-error:
      - nosuchrevid
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
