interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q2994625%7CQ3712743%7CQ42%7CQ5&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"Q2994625":{"type":"item","id":"Q2994625","labels":{"fr":{"language":"fr","value":"consistance"}},"descriptions":{}},"Q3712743":{"type":"item","id":"Q3712743","labels":{"it":{"language":"it","value":"Dom"},"es":{"language":"es","value":"Dom"}},"descriptions":{"es":{"language":"es","value":"T\u00edtulo
        honor\u00edfico"},"it":{"language":"it","value":"trattamento d''onore"}}},"Q42":{"type":"item","id":"Q42","labels":{"en":{"language":"en","value":"Douglas
        Adams"},"fr":{"language":"fr","value":"Douglas Adams"},"ru":{"language":"ru","value":"\u0414\u0443\u0433\u043b\u0430\u0441
        \u0410\u0434\u0430\u043c\u0441"},"it":{"language":"it","value":"Douglas Adams"},"es":{"language":"es","value":"Douglas
        Adams"},"pt":{"language":"pt","value":"Douglas Adams"},"nl":{"language":"nl","value":"Douglas
        Adams"},"de":{"language":"de","value":"Douglas Adams"}},"descriptions":{"en":{"language":"en","value":"English
        science fiction writer and humourist"},"fr":{"language":"fr","value":"\u00e9crivain
        de science-fiction et humoriste anglais"},"it":{"language":"it","value":"scrittore
        e umorista britannico"},"de":{"language":"de","value":"britischer Science-Fiction-Autor
        und Humorist"},"es":{"language":"es","value":"escritor y humorista brit\u00e1nico"},"ru":{"language":"ru","value":"\u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438\u0439
        \u043f\u0438\u0441\u0430\u0442\u0435\u043b\u044c, \u0434\u0440\u0430\u043c\u0430\u0442\u0443\u0440\u0433
        \u0438 \u0441\u0446\u0435\u043d\u0430\u0440\u0438\u0441\u0442, \u0430\u0432\u0442\u043e\u0440
        \u0441\u0435\u0440\u0438\u0438 \u043a\u043d\u0438\u0433 \u00ab\u0410\u0432\u0442\u043e\u0441\u0442\u043e\u043f\u043e\u043c
        \u043f\u043e \u0433\u0430\u043b\u0430\u043a\u0442\u0438\u043a\u0435\u00bb"},"nl":{"language":"nl","value":"Engelse
        schrijver (1952-2001)"},"pt":{"language":"pt","value":"escritor e comediante
        brit\u00e2nico"}}},"Q5":{"type":"item","id":"Q5","labels":{"en":{"language":"en","value":"human"},"fr":{"language":"fr","value":"\u00eatre
        humain"},"ru":{"language":"ru","value":"\u0447\u0435\u043b\u043e\u0432\u0435\u043a"},"it":{"language":"it","value":"umano"},"de":{"language":"de","value":"Mensch"},"es":{"language":"es","value":"ser
        humano"},"pt":{"language":"pt","value":"ser humano"},"nl":{"language":"nl","value":"mens"}},"descriptions":{"en":{"language":"en","value":"any
        member of Homo sapi[...]
