interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1952154007&torev=1952202478
  response:
    body:
      string: '{"compare":{"fromid":4246474,"fromrevid":1952154007,"fromns":0,"fromtitle":"Q4115189","fromuser":"132.234.229.132","fromuserid":0,"toid":4246474,"torevid":1952202478,"tons":0,"totitle":"Q4115189","touser":"BrokenSegue","touserid":193966,"prev":1952113547,"next":1952205143,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P460\" href=\"/wiki/Property:P460\">said to be the same
        as</a>: <a title=\"Q13406268\" href=\"/wiki/Q13406268\">Wikidata Sandbox 2</a>
        / qualifier</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><a title=\"Property:P1013\" href=\"/wiki/Property:P1013\">criterion
        used</a>: <span class=\"wikibase-snakview-variation-somevaluesnak\">unknown
        value</span></span></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1952202478&rvendid=1952154007&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-12T03:54:39Z","comment":"/*
        wbsetclaim-update:2||1|1 */ [[Property:P460]]: [[Q13406268]]","tags":["mw-reverted","wikidata-ui"]},{"user":"132.234.229.132","anon":"","timestamp":"2023-08-12T02:10:20Z","comment":"/*
        restore:0||1901229799|132.234.229.173 */","tags":["mw-manual-revert"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1952202478&rvendid=1952154007&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-12T03:54:39Z","comment":"/*
        wbsetclaim-update:2||1|1 */ [[Property:P460]]: [[Q13406268]]","tags":["mw-reverted","wikidata-ui"]},{"user":"132.234.229.132","anon":"","timestamp":"2023-08-12T02:10:20Z","comment":"/*
        restore:0||1901229799|132.234.229.173 */","tags":["mw-manual-revert"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
