interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1953435688&torev=1953439427
  response:
    body:
      string: '{"compare":{"fromid":4246474,"fromrevid":1953435688,"fromns":0,"fromtitle":"Q4115189","fromuser":"BrokenSegue","fromuserid":193966,"toid":4246474,"torevid":1953439427,"tons":0,"totitle":"Q4115189","touser":"BrokenSegue","touserid":193966,"prev":1953425917,"next":1953444806,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P6604\" href=\"/wiki/Property:P6604\">Sandbox-Musical
        Notation</a></td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><h4 class=\"wb-details wb-musical-notation-details
        wb-musical-notation-rendered\"><div class=\"mw-ext-score\" data-midi=\"//upload.wikimedia.org/score/8/8/887qsogmxh48cipybi4ex4m0duwzn3l/887qsogm.midi\"><img
        src=\"//upload.wikimedia.org/score/8/8/887qsogmxh48cipybi4ex4m0duwzn3l/887qsogm.png\"
        width=\"367\" height=\"52\" alt=\"\\relative c&#039; { c d e f | g2 g | a4
        a a a | g1 |}\"></div></h4><div class=\"wb-details wb-musical-notation-details\"><code>\\relative
        c'' { c d e f | g2 g | a4 a a a | g1 |}</code></div></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P6604\" href=\"/wiki/Property:P6604\">Sandbox-Musical
        Notation</a>: <div class=\"mw-ext-score\" data-midi=\"//upload.wikimedia.org/score/8/8/887qsogmxh48cipybi4ex4m0duwzn3l/887qsogm.midi\"><img
        src=\"//upload.wikimedia.org/score/8/8/887qsogmxh48cip[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1953439427&rvendid=1953435688&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-14T05:30:59Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P6604]]: \\relative c'' { c d e f | g2
        g | a4 a a a | g1 |}","tags":["mw-reverted","wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-14T05:21:39Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P5189]]: [[Lexeme:L452382#F1]]","tags":["mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1953439427&rvendid=1953435688&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-14T05:30:59Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P6604]]: \\relative c'' { c d e f | g2
        g | a4 a a a | g1 |}","tags":["mw-reverted","wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-14T05:21:39Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P5189]]: [[Lexeme:L452382#F1]]","tags":["mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
