interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1714064841&torev=1814194280
  response:
    body:
      string: '{"compare":{"fromid":55928694,"fromrevid":1714064841,"fromns":0,"fromtitle":"Q55978636","fromuser":"Ent6451","fromuserid":5820912,"toid":55928694,"torevid":1814194280,"tons":0,"totitle":"Q55978636","touser":"109.161.200.40","touserid":0,"prev":1714064692,"next":1843596925,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">redirect</td><td colspan=\"2\" class=\"diff-lineno\">redirect</td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\">Q38200141</del></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q55978636&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1814194280&rvendid=1714064841&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"55928694":{"pageid":55928694,"ns":0,"title":"Q55978636","revisions":[{"user":"109.161.200.40","anon":"","timestamp":"2023-01-18T20:20:28Z","comment":"/*
        undo:0||1714064841|Ent6451 */","tags":["mobile edit","mobile web edit","mw-undo","mw-removed-redirect","mw-reverted"]},{"user":"Ent6451","timestamp":"2022-08-27T00:35:18Z","comment":"/*
        undo:0||1714040274|Ent6451 */","tags":["mw-new-redirect","mobile edit","mobile
        web edit","mw-undo"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
