interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content%7Cids&titles=Q33310436&rvstartid=1953971468&format=json&rvslots=main&rvlimit=1
  response:
    body:
      string: '{"continue":{"rvcontinue":"20230814225356|1953971425","continue":"||"},"query":{"pages":{"34760130":{"pageid":34760130,"ns":0,"title":"Q33310436","revisions":[{"revid":1953971468,"parentid":1953971425,"slots":{"main":{"contentmodel":"wikibase-item","contentformat":"application/json","*":"{\"type\":\"item\",\"id\":\"Q33310436\",\"labels\":[],\"descriptions\":[],\"aliases\":[],\"claims\":[],\"sitelinks\":[]}"}}}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content%7Cids&titles=Q33310436&rvstartid=1953971468&format=json&rvslots=main&rvlimit=1
  response:
    body:
      string: '{"continue":{"rvcontinue":"20230814225356|1953971425","continue":"||"},"query":{"pages":{"34760130":{"pageid":34760130,"ns":0,"title":"Q33310436","revisions":[{"revid":1953971468,"parentid":1953971425,"slots":{"main":{"contentmodel":"wikibase-item","contentformat":"application/json","*":"{\"type\":\"item\",\"id\":\"Q33310436\",\"labels\":[],\"descriptions\":[],\"aliases\":[],\"claims\":[],\"sitelinks\":[]}"}}}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
