interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1956937163&torev=1956941492
  response:
    body:
      string: '{"compare":{"fromid":116027220,"fromrevid":1956937163,"fromns":0,"fromtitle":"Q121653587","fromuser":"2001:2D8:303:DA05:0:0:1373:A0B0","fromuserid":0,"toid":116027220,"torevid":1956941492,"tons":0,"totitle":"Q121653587","touser":"2001:2D8:303:DA05:0:0:1373:A0B0","touserid":0,"prev":1956936787,"next":1956944625,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">label / ko</td><td colspan=\"2\" class=\"diff-lineno\">label
        / ko</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\">\ud0dc\uad11
        \uc815\uc0b0\ucee8\ud2b8\ub9ac\ud074\ub7fd</ins></div></td></tr><tr><td colspan=\"2\"
        class=\"diff-lineno\">Property / <a title=\"Property:P706\" href=\"/wiki/Property:P706\">located
        in/on physical feature</a></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P706\" href=\"/wiki/Property:P706\">located in/on physical
        feature</a></td></tr><tr><td class=\"diff-marker\" data-marker=\"\u2212\"></td><td
        class=\"diff-deletedline\"><div><del class=\"diffchange diffchange-inline\"><span><a
        title=\"Q32176708\" href=\"/wiki/Q32176708\" class=\"mw-redirect\">C\u00f9
        Lao \u00d4ng C\u1ed3n</a></span></del></div></td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><a title=\"Q2135026\" href=\"/wiki/Q2135026\">C\u00f9
        Lao \u00d4ng C\u1ed3n</a></span></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q121653587&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1956941492&rvendid=1956937163&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"116027220":{"pageid":116027220,"ns":0,"title":"Q121653587","revisions":[{"user":"2001:2D8:303:DA05:0:0:1373:A0B0","anon":"","timestamp":"2023-08-20T03:33:09Z","comment":"/*
        wbsetlabel-add:1|ko */ \ud0dc\uad11 \uc815\uc0b0\ucee8\ud2b8\ub9ac\ud074\ub7fd","tags":["wikidata-ui"]},{"user":"2001:2D8:303:DA05:0:0:1373:A0B0","anon":"","timestamp":"2023-08-20T03:32:16Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P706]]: [[Q2135026]]","tags":["new editor
        changing statement","wikidata-ui"]},{"user":"2001:2D8:303:DA05:0:0:1373:A0B0","anon":"","timestamp":"2023-08-20T03:22:35Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P856]]: http://www.jeongsancc.com.vn/","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content%7Cids&titles=Q121653587&rvstartid=1956937163&format=json&rvslots=main&rvlimit=1
  response:
    body:
      string: '{"continue":{"rvcontinue":"20230820032137|1956936787","continue":"||"},"query":{"pages":{"116027220":{"pageid":116027220,"ns":0,"title":"Q121653587","revisions":[{"revid":1956937163,"parentid":1956936787,"slots":{"main":{"contentmodel":"wikibase-item","contentformat":"application/json","*":"{\"type\":\"item\",\"id\":\"Q121653587\",\"labels\":{\"en\":{\"language\":\"en\",\"value\":\"Taekwang
        Jeongsan Country Club\"}},\"descriptions\":{\"en\":{\"language\":\"en\",\"value\":\"golf
        club in Vietnam\"}},\"aliases\":[],\"claims\":{\"P31\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P31\",\"hash\":\"dd56d7f91c3a10afc806bce3ee1e26c8b929952e\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":2022036,\"id\":\"Q2022036\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q121653587$3a8960e4-41f4-48a6-98ca-91864e0168cf\",\"rank\":\"normal\"}],\"P131\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P131\",\"hash\":\"5d0169a9852259a09a3c322fd94f385d7546865f\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":2049790,\"id\":\"Q2049790\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q121653587$441f4ecb-4ece-e1cc-4a32-1c974ad399dd\",\"rank\":\"normal\"}],\"P706\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P706\",\"hash\":\"5b5abf27beecc457de8284bb2225bc752fe5a12f\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":32176708,\"id\":\"Q32176708\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q121653587$a198b658-446a-76ae-e51e-211bd05a5e2c\",\"rank\":\"normal\"}],\"P17\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P17\",\"hash\":\"c40be02120fa6723ead45340635fe0835f073e90\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":881,\"id\":\"Q881\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q121653587$68ec9347-4f67-1cbe-8c5a-3af17c16c0f1\",\"rank\":\"normal\"}],\"P856\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P856\",\"hash\":\"25b976a118884aeb83cfb29e6a1c207ae5ad632d\",\"datavalue\":{\"value\":\"http:\\/\\/www.jeongsancc.com.vn\\/\",\"type\":\"string\"}},\"type\":\"statement\",\"id\":\"Q121653587$da8564be-424a-64d1-35e7-0ba01d1bbfe8\",\"rank\":\"normal\"}]},\"sitelinks\":[]}"}}}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P706%7CQ2135026%7CQ32176708&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"P706":{"type":"property","datatype":"wikibase-item","id":"P706","labels":{"en":{"language":"en","value":"located
        in/on physical feature"},"nl":{"language":"nl","value":"gelegen in geografisch
        gebied"},"de":{"language":"de","value":"liegt geographisch im Gebiet oder
        Gew\u00e4sser"},"fr":{"language":"fr","value":"localisation g\u00e9ographique"},"es":{"language":"es","value":"situado
        en la entidad geogr\u00e1fica"},"ru":{"language":"ru","value":"\u043d\u0430\u0445\u043e\u0434\u0438\u0442\u0441\u044f
        \u0432 \u043f\u0440\u0435\u0434\u0435\u043b\u0430\u0445 \u043f\u0440\u0438\u0440\u043e\u0434\u043d\u043e-\u0433\u0435\u043e\u0433\u0440\u0430\u0444\u0438\u0447\u0435\u0441\u043a\u043e\u0433\u043e
        \u043e\u0431\u044a\u0435\u043a\u0442\u0430"},"pt":{"language":"pt","value":"localizado
        na unidade geogr\u00e1fica"},"it":{"language":"it","value":"luogo geografico"}},"descriptions":{"en":{"language":"en","value":"located
        on the specified (geo)physical feature. Should not be used when the value
        is only political/administrative (P131) or a mountain range (P4552)."},"nl":{"language":"nl","value":"item
        is gelegen in of op dit (niet-bestuurlijke) gebied, zoals een eiland, wateroppervlakte,
        gebergte, bos, etc. Gebruik P131 voor bestuurlijke eenheid; P4552 voor gebergte"},"de":{"language"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q2022036%7CQ2049790%7CQ881&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"Q2022036":{"type":"item","id":"Q2022036","labels":{"nl":{"language":"nl","value":"golfclub"},"en":{"language":"en","value":"golf
        club"},"de":{"language":"de","value":"Golfclub"},"ru":{"language":"ru","value":"\u0433\u043e\u043b\u044c\u0444-\u043a\u043b\u0443\u0431"},"fr":{"language":"fr","value":"club
        de golf"},"es":{"language":"es","value":"club de golf"},"it":{"language":"it","value":"golf
        club"}},"descriptions":{"nl":{"language":"nl","value":"organisatie"},"en":{"language":"en","value":"club
        organized to play golf"},"fr":{"language":"fr","value":"organisation de joueur
        de Golf"},"de":{"language":"de","value":"Organisation"},"it":{"language":"it","value":"club
        privato per la pratica del golf"},"es":{"language":"es","value":"club organizado
        para jugar al golf"}}},"Q2049790":{"type":"item","id":"Q2049790","labels":{"nl":{"language":"nl","value":"\u0110\u1ea1i
        Ph\u01b0\u1edbc"},"en":{"language":"en","value":"\u0110\u1ea1i Ph\u01b0\u1edbc"}},"descriptions":{"nl":{"language":"nl","value":"rurale
        gemeente in Vietnam"},"de":{"language":"de","value":"Landgemeinde in Vietnam"}}},"Q881":{"type":"item","id":"Q881","labels":{"es":{"language":"es","value":"Vietnam"},"nl":{"language":"nl","value":"Vietnam"},"pt":{"language":"pt","value":"Vietname"},"ru":{"language":"ru","value":"\u0412\u044c\u0435\u0442\u043d\u0430\u043c"},"de":{"language":"de","value":"Vietnam"},"en":{"language":"en","value":"Vietnam"},"fr":{"language":"fr","value":"Vi\u00eat
        Nam"},"it":{"language":"it","value":"Vietnam"}},"descriptions":{"fr":{"language":"fr","value":"pays
        d\u2019Asie du Sud-Est"},"it":{"language":"it","value":"stato del sud-est
        asiatico"},"pt":{"language":"pt","value":"pa\u00eds da \u00c1sia"},"ru":{"language":"ru","value":"\u0433\u043e\u0441\u0443\u0434\u0430\u0440\u0441\u0442\u0432\u043e
        \u0432 \u042e\u0433\u043e-\u0412\u043e\u0441\u0442\u043e\u0447\u043d\u043e\u0439
        \u0410\u0437\u0438\u0438"},"es":{"language":"es","value":"pa\u00eds de Asia"},"nl":{"language":"nl","value":"land
        in Azi\u00eb"},"de":{"language":"de","value":"Staat in S\u00fcdostasien"},"en":{"language":"en","value":"country
        in Southeast Asia"}}}},"success":1}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P706%7CQ2135026%7CQ32176708&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car&format=json
  response:
    body:
      string: '{"entities":{"P706":{"type":"property","datatype":"wikibase-item","id":"P706","labels":{"en":{"language":"en","value":"located
        in/on physical feature"},"nl":{"language":"nl","value":"gelegen in geografisch
        gebied"},"de":{"language":"de","value":"liegt geographisch im Gebiet oder
        Gew\u00e4sser"},"fr":{"language":"fr","value":"localisation g\u00e9ographique"},"es":{"language":"es","value":"situado
        en la entidad geogr\u00e1fica"},"ru":{"language":"ru","value":"\u043d\u0430\u0445\u043e\u0434\u0438\u0442\u0441\u044f
        \u0432 \u043f\u0440\u0435\u0434\u0435\u043b\u0430\u0445 \u043f\u0440\u0438\u0440\u043e\u0434\u043d\u043e-\u0433\u0435\u043e\u0433\u0440\u0430\u0444\u0438\u0447\u0435\u0441\u043a\u043e\u0433\u043e
        \u043e\u0431\u044a\u0435\u043a\u0442\u0430"},"pt":{"language":"pt","value":"localizado
        na unidade geogr\u00e1fica"},"it":{"language":"it","value":"luogo geografico"},"ar":{"language":"ar","value":"\u062a\u0642\u0639
        \u0641\u064a \u0645\u0646\u0637\u0642\u0629 \u062a\u0636\u0627\u0631\u064a\u0633"}},"descriptions":{"en":{"language":"en","value":"located
        on the specified (geo)physical feature. Should not be used when the value
        is only political/administrative (P131) or a mountain range (P4552)."},"nl":{"language":"nl","value":"item
        is gelegen in of op dit (niet-bestuurlijke) gebied, zoals een eiland, wateroppervlakte,
        gebergt[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q2022036%7CQ2049790%7CQ881&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car&format=json
  response:
    body:
      string: '{"entities":{"Q2022036":{"type":"item","id":"Q2022036","labels":{"nl":{"language":"nl","value":"golfclub"},"en":{"language":"en","value":"golf
        club"},"de":{"language":"de","value":"Golfclub"},"ru":{"language":"r[...]
