interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1851566554&torev=1942024562
  response:
    body:
      string: '{"compare":{"fromid":30487495,"fromrevid":1851566554,"fromns":0,"fromtitle":"Q28828788","fromuser":"Daask","fromuserid":2444201,"toid":30487495,"torevid":1942024562,"tons":0,"totitle":"Q28828788","touser":"BrokenSegue","touserid":193966,"prev":1827594198,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P135\" href=\"/wiki/Property:P135\">movement</a></td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><a
        title=\"Q30325066\" href=\"/wiki/Q30325066\">alt-lite</a></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P135\" href=\"/wiki/Property:P135\">movement</a>: <a
        title=\"Q30325066\" href=\"/wiki/Q30325066\">alt-lite</a> / rank</td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span>Normal
        rank</span></ins></div></td></tr><tr><td colspan=\"2\" class=\"diff-lineno\"></td><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P135\"
        href=\"/wiki/Property:P135\">movement</a>: <a title=\"Q30325066\" href=\"/wiki/Q30325066\">alt-lite</a>
        / reference</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><a title=\"Property:P143\" href=\"/wiki/Property:P143\">imported
        from Wikimedia project</a>: <a title=\"Q328\" href=\"/wiki/Q328\">English
        Wikipedia</a></span><br><span><a title=\"Property:P813\" href=\"/wiki/Property:P813\">retrieved</a>:
        <b class=\"wb-details wb-time-details wb-time-rendered\">28 July 2023</b><table
        class=\"wb-details wb-time-details\"><tr><th class=\"wb-time-isotime\">Timestamp</th><td
        class=\"wb-time-isotime\">+2023-07-28T00:00:00Z</td></tr><tr><th class=\"wb-time-timezone\">Timezone</th><td
        class=\"wb-time-timezone\">+00:00</td></tr><tr><th class=\"wb-time-calendar\">Calendar</th><td
        class=\"wb-time-calendar\">Gregorian</td></tr><tr><th class=\"wb-time-precision\">Precision</th><td
        class=\"wb-time-precision\">1 day</td></tr><tr><th class=\"wb-time-before\">Before</th><td
        class=\"wb-time-befor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q28828788&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1942024562&rvendid=1851566554&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"30487495":{"pageid":30487495,"ns":0,"title":"Q28828788","revisions":[{"user":"BrokenSegue","timestamp":"2023-07-28T23:14:29Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P91]]: [[Q6636]]","tags":["wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-07-28T23:13:34Z","comment":"/*
        wbsetreference-add:2| */ [[Property:P108]]: [[Q30589935]], import w/ [[Wikidata:Wwwyzzerdd|\ud83e\uddd9
        Wwwyzzerdd for Wikidata]]","tags":["wwwyzzerdd"]},{"user":"BrokenSegue","timestamp":"2023-07-28T23:13:34Z","comment":"/*
        wbcreateclaim-create:1| */ [[Property:P108]]: [[Q30589935]], import w/ [[Wikidata:Wwwyzzerdd|\ud83e\uddd9
        Wwwyzzerdd for Wikidata]]","tags":["wwwyzzerdd"]},{"user":"BrokenSegue","timestamp":"2023-07-28T23:12:04Z","comment":"/*
        wbsetreference-add:2| */ [[Property:P135]]: [[Q30325066]], import w/ [[Wikidata:Wwwyzzerdd|\ud83e\uddd9
        Wwwyzzerdd for Wikidata]]","tags":["wwwyzzerdd"]},{"user":"BrokenSegue","timestamp":"2023-07-28T23:12:03Z","comment":"/*
        wbcreateclaim-create:1| */ [[Property:P135]]: [[Q30325066]], import w/ [[Wikidata:Wwwyzzerdd|\ud83e\uddd9
        Wwwyzzerdd for Wikidata]]","tags":["wwwyzzerdd"]},{"user":"Daask","timestamp":"2023-03-13T21:32:01Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P6005]]: lucian-b-wintrich","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
