interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1938660715&torev=1942048859
  response:
    body:
      string: '{"compare":{"fromid":115247821,"fromrevid":1938660715,"fromns":0,"fromtitle":"Q120798901","fromuser":"Pi
        bot","fromuserid":2851194,"toid":115247821,"torevid":1942048859,"tons":0,"totitle":"Q120798901","touser":"BrokenSegue","touserid":193966,"next":1942049046,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">description / en</td><td colspan=\"2\"
        class=\"diff-lineno\">description / en</td></tr><tr><td colspan=\"2\">\u00a0</td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\">U.S. government-led effort to fight
        antisemitism</ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q120798901&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1942048859&rvendid=1938660715&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"115247821":{"pageid":115247821,"ns":0,"title":"Q120798901","revisions":[{"user":"BrokenSegue","timestamp":"2023-07-28T23:59:59Z","comment":"/*
        wbsetdescription-add:1|en */ U.S. government-led effort to fight antisemitism,
        import w/ [[Wikidata:Wwwyzzerdd|\ud83e\uddd9 Wwwyzzerdd for Wikidata]]","tags":["wwwyzzerdd"]},{"user":"Pi
        bot","timestamp":"2023-07-22T07:24:28Z","comment":"/* wbeditentity-create-item:0|
        */ Creating item from [[en:U.S. National Strategy to Counter Antisemitism]]","tags":[]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q120798901&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1942048859&rvendid=1938660715&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"115247821":{"pageid":115247821,"ns":0,"title":"Q120798901","revisions":[{"user":"BrokenSegue","timestamp":"2023-07-28T23:59:59Z","comment":"/*
        wbsetdescription-add:1|en */ U.S. government-led effort to fight antisemitism,
        import w/ [[Wikidata:Wwwyzzerdd|\ud83e\uddd9 Wwwyzzerdd for Wikidata]]","tags":["wwwyzzerdd"]},{"user":"Pi
        bot","timestamp":"2023-07-22T07:24:28Z","comment":"/* wbeditentity-create-item:0|
        */ Creating item from [[en:U.S. National Strategy to Counter Antisemitism]]","tags":[]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
