interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1866394894&torev=1952555904
  response:
    body:
      string: '{"compare":{"fromid":105981221,"fromrevid":1866394894,"fromns":0,"fromtitle":"Q110970851","fromuser":"1857a","fromuserid":2990265,"toid":105981221,"torevid":1952555904,"tons":0,"totitle":"Q110970851","touser":"Laziz
        Baxtiyorov","touserid":4605985,"prev":1783841838,"*":"<tr><td colspan=\"2\"
        class=\"diff-lineno\">links / tkwiki / name</td><td colspan=\"2\" class=\"diff-lineno\">links
        / tkwiki / name</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><a dir=\"auto\" href=\"https://tk.wikipedia.org/wiki/Buharany%C5%88_gabawy\"
        hreflang=\"tk\">Buharany\u0148 gabawy</a></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q110970851&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1952555904&rvendid=1866394894&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"105981221":{"pageid":105981221,"ns":0,"title":"Q110970851","revisions":[{"user":"Laziz
        Baxtiyorov","timestamp":"2023-08-12T18:30:20Z","comment":"/* wbsetsitelink-add:1|tkwiki
        */ Buharany\u0148 gabawy","tags":["client-linkitem-change"]},{"user":"1857a","timestamp":"2023-04-02T02:20:15Z","comment":"/*
        wbsetsitelink-set-badges:1|enwiki */ [[Q17437796]]","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1866394894&torev=1952555904
  response:
    body:
      string: '{"compare":{"fromid":105981221,"fromrevid":1866394894,"fromns":0,"fromtitle":"Q110970851","fromuser":"1857a","fromuserid":2990265,"toid":105981221,"torevid":1952555904,"tons":0,"totitle":"Q110970851","touser":"Laziz
        Baxtiyorov","touserid":4605985,"prev":1783841838,"next":1959488624,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">links / tkwiki / name</td><td colspan=\"2\"
        class=\"diff-lineno\">links / tkwiki / name</td></tr><tr><td colspan=\"2\">\u00a0</td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><a dir=\"auto\" href=\"https://tk.wikipedia.org/wiki/Buharany%C5%88_gabawy\"
        hreflang=\"tk\">Buharany\u0148 gabawy</a></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q110970851&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1952555904&rvendid=1866394894&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"105981221":{"pageid":105981221,"ns":0,"title":"Q110970851","revisions":[{"user":"Laziz
        Baxtiyorov","timestamp":"2023-08-12T18:30:20Z","comment":"/* wbsetsitelink-add:1|tkwiki
        */ Buharany\u0148 gabawy","tags":["client-linkitem-change"]},{"user":"1857a","timestamp":"2023-04-02T02:20:15Z","comment":"/*
        wbsetsitelink-set-badges:1|enwiki */ [[Q17437796]]","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
