interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1711288204&torev=1800955256
  response:
    body:
      string: '{"compare":{"fromid":6624230,"fromrevid":1711288204,"fromns":0,"fromtitle":"Q6777283","fromuser":"511KeV","fromuserid":4791574,"toid":6624230,"torevid":1800955256,"tons":0,"totitle":"Q6777283","touser":"146.196.34.28","touserid":0,"prev":1574766064,"next":1824537310,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P2566\"
        href=\"/wiki/Property:P2566\">ECHA Substance Infocard ID</a></td><td colspan=\"2\"
        class=\"diff-lineno\">Property / <a title=\"Property:P2566\" href=\"/wiki/Property:P2566\">ECHA
        Substance Infocard ID</a></td></tr><tr><td class=\"diff-marker\" data-marker=\"\u2212\"></td><td
        class=\"diff-deletedline\"><div><del class=\"diffchange diffchange-inline\"><span><a
        class=\"wb-external-id external\" href=\"https://echa.europa.eu/substance-information/-/substanceinfo/100.009.176\"
        rel=\"nofollow\">100.009.176</a></span></del></div></td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><a class=\"wb-external-id external\" href=\"https://echa.europa.eu/substance-information/-/substanceinfo/27.902005\"
        rel=\"nofollow\">27.902005</a></span></ins></div></td></tr><tr><td colspan=\"2\"
        class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P2566\" href=\"/wiki/Property:P2566\">ECHA Substance
        Infocard ID</a>: <a class=\"wb-external-id external\" href=\"https://echa.europa.eu/substance-information/-/substanceinfo/27.902005\"
        rel=\"nofollow\">27.902005</a> / reference</td></tr><tr><td colspan=\"2\">\u00a0</td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span><a title=\"Property:P248\" href=\"/wiki/Property:P248\">stated
        in</a>: <a title=\"Q59911453\" href=\"/wiki/Q59911453\">ECHA Substance Infocard
        database</a></span><br><span><a title=\"Property:P2566\" href=\"/wiki/Property:P2566\">ECHA
        Substance Infocard ID</a>: <a class=\"wb-external-id external\" href=\"https://echa.europa.eu/substance-information/-/substanceinfo/27.902005\"
        rel=\"nofollow\">27.902005</a></span><br><span><a title=\"Property:P813\"
        href=\"/wiki/Property:P813\">retrieved</a>: <b class=\"wb-details wb-time-details
        wb-time-rendered\">27 December 2018</b><table class=\"wb-details wb-time-details\"><tr><th
        class=\"wb-time-isotime\">Timestamp</th><td class=\"wb-time-isotime\">+2018-12-27T00:00:00Z</td></tr><tr><th
        class=\"wb-time-timezone\">Timezone</th><td class=\"wb-time-timezone\">+00:00</td></tr><tr><th
        class=\"wb-time-calendar\">Calendar</th><td class=\"wb-time-calendar\">Gregorian</td></tr><tr><th
        class=\"wb-time-precision\">Precision</th><td class=\"wb-time-precision\">1
        day</td></tr><tr><th class=\"wb-time-before\">Before</th><td class=\"wb-time-before\">0</td></tr><tr><th
        class=\"wb-time-after\">After</th><td class=\"wb-time-after\">0</td></tr></table></span><br><span><a
        title=\"Property:P1476\" href=\"/wiki/Property:P1476\">title</a>: <span lang=\"en\"
        class=\"wb-monolingualtext-value\">2,4-dinitro-1-naphthol</span> <span class=\"wb-monolingualtext-language-name\"
        dir=\"auto\">(English)</span></span><br><span><a title=\"Property:P1683\"
        hre[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q6777283&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1800955256&rvendid=1711288204&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"6624230":{"pageid":6624230,"ns":0,"title":"Q6777283","revisions":[{"user":"146.196.34.28","anon":"","timestamp":"2023-01-02T15:09:50Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2566]]: 27.902005","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"146.196.34.28","anon":"","timestamp":"2023-01-02T15:09:28Z","comment":"/*
        wbsetclaim-update:2||1|2 */ [[Property:P2566]]: 100.009.176","tags":["new
        editor changing statement","mw-reverted","wikidata-ui"]},{"user":"511KeV","timestamp":"2022-08-23T14:29:38Z","comment":"/*
        wbsetdescription-add:1|ks */ \u06a9\u06cc\u0656\u0645\u06cc\u0672\u06cc\u06cc
        \u0645\u064f\u0631\u064e\u06a9\u064e\u0628, [[:toollabs:quickstatements/#/batch/96080|batch
        #96080]]","tags":["OAuth CID: 1776"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q6777283&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1800955256&rvendid=1711288204&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"6624230":{"pageid":6624230,"ns":0,"title":"Q6777283","revisions":[{"user":"146.196.34.28","anon":"","timestamp":"2023-01-02T15:09:50Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2566]]: 27.902005","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"146.196.34.28","anon":"","timestamp":"2023-01-02T15:09:28Z","comment":"/*
        wbsetclaim-update:2||1|2 */ [[Property:P2566]]: 100.009.176","tags":["new
        editor changing statement","mw-reverted","wikidata-ui"]},{"user":"511KeV","timestamp":"2022-08-23T14:29:38Z","comment":"/*
        wbsetdescription-add:1|ks */ \u06a9\u06cc\u0656\u0645\u06cc\u0672\u06cc\u06cc
        \u0645\u064f\u0631\u064e\u06a9\u064e\u0628, [[:toollabs:quickstatements/#/batch/96080|batch
        #96080]]","tags":["OAuth CID: 1776"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
