interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1913859487&torev=1921063976
  response:
    body:
      string: '{"compare":{"fromid":198233,"fromrevid":1913859487,"fromns":0,"fromtitle":"Q201589","fromuser":"ELTISAFE","fromuserid":3421813,"toid":198233,"torevid":1921063976,"tons":0,"totitle":"Q201589","touser":"190.202.238.19","touserid":0,"prev":1913859258,"next":1921308989,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P18\" href=\"/wiki/Property:P18\">image</a></td><td
        colspan=\"2\" class=\"diff-lineno\"></td></tr><tr><td class=\"diff-marker\"
        data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del class=\"diffchange
        diffchange-inline\"><span><a class=\"extiw\" href=\"//commons.wikimedia.org/wiki/File:Letizia_von_Spanien_(2022).jpg\">Letizia
        von Spanien (2022).jpg</a></span></del></div></td><td colspan=\"2\">\u00a0</td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P18\" href=\"/wiki/Property:P18\">image</a>:
        <a class=\"extiw\" href=\"//commons.wikimedia.org/wiki/File:Letizia_von_Spanien_(2022).jpg\">Letizia
        von Spanien (2022).jpg</a> / rank</td><td colspan=\"2\" class=\"diff-lineno\"></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span>Normal rank</span></del></div></td><td
        colspan=\"2\">\u00a0</td></tr><tr><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P18\" href=\"/wiki/Property:P18\">image</a>: <a class=\"extiw\"
        href=\"//commons.wikimedia.org/wiki/File:Letizia_von_Spanien_(2022).jpg\">Letizia
        von Spanien (2022).jpg</a> / qualifier</td><td colspan=\"2\" class=\"diff-lineno\"></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><a title=\"Property:P585\" href=\"/wiki/Property:P585\">point
        in time</a>: <b class=\"wb-details wb-time-details wb-time-rendered\">2022</b><table
        class=\"wb-details wb-time-details\"><tr><th class=\"wb-time-isotime\">Timestamp</th><td
        class=\"wb-time-isotime\">+2022-00-00T00:00:00Z</td></tr><tr><th class=\"wb-time-timezone\">Timezone</th><td
        class=\"wb-time-timezone\">+00:00</td></tr><tr><th class=\"wb-time-calendar\">Calendar</th><td
        class=\"wb-time-calendar\">Gregorian</td></tr><tr><th class=\"wb-time-precision\">Precision</th><td
        class=\"wb-time-precision\">1 year</td></tr><tr><th class=\"wb-time-before\">Before</th><td
        class=\"wb-time-befo[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q201589&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1921063976&rvendid=1913859487&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"198233":{"pageid":198233,"ns":0,"title":"Q201589","revisions":[{"user":"190.202.238.19","anon":"","timestamp":"2023-06-22T01:48:27Z","comment":"/*
        wbremoveclaims-remove:1| */ [[Property:P18]]: Letizia von Spanien (2022).jpg","tags":["new
        editor removing statement","mw-reverted","wikidata-ui"]},{"user":"ELTISAFE","timestamp":"2023-06-12T20:21:59Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P1038]]: [[Q2723716]]","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q201589&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1921063976&rvendid=1913859487&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"198233":{"pageid":198233,"ns":0,"title":"Q201589","revisions":[{"user":"190.202.238.19","anon":"","timestamp":"2023-06-22T01:48:27Z","comment":"/*
        wbremoveclaims-remove:1| */ [[Property:P18]]: Letizia von Spanien (2022).jpg","tags":["new
        editor removing statement","mw-reverted","wikidata-ui"]},{"user":"ELTISAFE","timestamp":"2023-06-12T20:21:59Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P1038]]: [[Q2723716]]","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
