interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1946481281&torev=1946482672
  response:
    body:
      string: '{"compare":{"fromid":115593402,"fromrevid":1946481281,"fromns":0,"fromtitle":"Q121167625","fromuser":"BrokenSegue","fromuserid":193966,"toid":115593402,"torevid":1946482672,"tons":0,"totitle":"Q121167625","touser":"BrokenSegue","touserid":193966,"next":1946483112,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P31\" href=\"/wiki/Property:P31\">instance of</a></td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><a
        title=\"Q4830453\" href=\"/wiki/Q4830453\">business</a></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P31\" href=\"/wiki/Property:P31\">instance of</a>: <a
        title=\"Q4830453\" href=\"/wiki/Q4830453\">business</a> / rank</td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><in[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q121167625&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1946482672&rvendid=1946481281&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"115593402":{"pageid":115593402,"ns":0,"title":"Q121167625","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-04T20:09:55Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P3276]]: fennel-1","tags":["wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-04T20:09:31Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P2037]]: fennel-ai","tags":["wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-04T20:09:09Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P4264]]: fennel-ai","tags":["wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-04T20:07:54Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P856]]: https://fennel.ai/","tags":["wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-04T20:07:46Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P2088]]: fennel-ai","tags":["wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-04T20:07:39Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P31]]: [[Q4830453]]","tags":["wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-08-04T20:07:31Z","comment":"/*
        wbeditentity-create:2|en */ Fennel, software company","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
