interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1844960481&torev=1853463165
  response:
    body:
      string: '{"compare":{"fromid":3036256,"fromrevid":1844960481,"fromns":0,"fromtitle":"Q3178647","fromuser":"Arpitan","fromuserid":4186609,"toid":3036256,"torevid":1853463165,"tons":0,"totitle":"Q3178647","touser":"82.210.51.60","touserid":0,"prev":1410670386,"next":1891470981,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P27\" href=\"/wiki/Property:P27\">country
        of citizenship</a></td><td colspan=\"2\" class=\"diff-lineno\">Property /
        <a title=\"Property:P27\" href=\"/wiki/Property:P27\">country of citizenship</a></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><a title=\"Q142\" href=\"/wiki/Q142\">France</a></span></del></div></td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span><a title=\"Q880\" href=\"/wiki/Q880\">platinum</a></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P106\"
        href=\"/wiki/Property:P106\">occupation</a></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P106\" href=\"/wiki/Property:P106\">occupation</a></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><a title=\"Q3024627\" href=\"/wiki/Q3024627\">editorial
        cartoonist</a></span></del></div></td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><a
        title=\"Q937857\" href=\"/wiki/Q937857\">association football player</a></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P106\" href=\"/wiki/Property:P106\">occupation</a>:
        <a title=\"Q937857\" href=\"/wiki/Q937857\">association football player</a>
        / qualifier</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><a title=\"Property:P8601\" href=\"/wiki/Property:P8601\">Barcelona
        Public art ID</a>: <span class=\"wb-external-id\">madrid</span></span></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q3178647&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1853463165&rvendid=1844960481&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"3036256":{"pageid":3036256,"ns":0,"title":"Q3178647","revisions":[{"user":"82.210.51.60","anon":"","timestamp":"2023-03-16T10:11:25Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P106]]: [[Q937857]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"82.210.51.60","anon":"","timestamp":"2023-03-16T10:10:53Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P27]]: [[Q880]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"82.210.51.60","anon":"","timestamp":"2023-03-16T10:08:55Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P27]]: [[Q5283]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"82.210.51.60","anon":"","timestamp":"2023-03-16T10:07:59Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P27]]: [[Q2911554]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"Arpitan","timestamp":"2023-03-04T07:46:42Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P109]]: Jiho Signature.png","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
