interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q2994625%7CQ3712743%7CQ42%7CQ5&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"Q2994625":{"type":"item","id":"Q2994625","labels":{"fr":{"language":"fr","value":"consistance"}},"descriptions":{}},"Q3712743":{"type":"item","id":"Q3712743","labels":{"it":{"language":"it","value":"Dom"},"es":{"language":"es","value":"Dom"}},"descriptions":{"es":{"language":"es","value":"T\u00edtulo
        honor\u00edfico"},"it":{"language":"it","value":"trattamento d''onore"}}},"Q42":{"type":"item","id":"Q42","labels":{"en":{"language":"en","value":"Douglas
        Adams"},"fr":{"language":"fr","value":"Douglas Adams"},"ru":{"language":"ru","value":"\u0414\u0443\u0433\u043b\u0430\u0441
        \u0410\u0434\u0430\u043c\u0441"},"it":{"language":"it","value":"Douglas Adams"},"es":{"language":"es","value":"Douglas
        Adams"},"pt":{"language":"pt","value":"Douglas Adams"},"nl":{"language":"nl","value":"Douglas
        Adams"},"de":{"language":"de","value":"Douglas Adams"}},"descriptions":{"en":{"language":"en","value":"English
        science fiction writer and humourist"},"fr":{"language":"fr","value":"\u00e9crivain
        de science-fiction et humoriste anglais"},"it":{"language":"it","value":"scrittore
        e umorista britannico"},"de":{"language":"de","value":"britischer Science-Fiction-Autor
        und Humorist"},"es":{"language":"es","value":"escritor y humorista brit\u00e1nico"},"ru":{"language":"ru","value":"\u0430\u043d\u0433\u043b\u0438\u0439\u0441\u043a\u0438\u0439
        \u043f\u0438\u0441\u0430\u0442\u0435\u043b\u044c, \u0434\u0440\u0430\u043c\u0430\u0442\u0443\u0440\u0433
        \u0438 \u0441\u0446\u0435\u043d\u0430\u0440\u0438\u0441\u0442, \u0430\u0432\u0442\u043e\u0440
        \u0441\u0435\u0440\u0438\u0438 \u043a\u043d\u0438\u0433 \u00ab\u0410\u0432\u0442\u043e\u0441\u0442\u043e\u043f\u043e\u043c
        \u043f\u043e \u0433\u0430\u043b\u0430\u043a\u0442\u0438\u043a\u0435\u00bb"},"nl":{"language":"nl","value":"Engelse
        schrijver (1952-2001)"},"pt":{"language":"pt","value":"escritor e comediante
        brit\u00e2nico"}}},"Q5":{"type":"item","id":"Q5","labels":{"en":{"language":"en","value":"human"},"fr":{"language":"fr","value":"\u00eatre
        humain"},"ru":{"language":"ru","value":"\u0447\u0435\u043b\u043e\u0432\u0435\u043a"},"it":{"language":"it","value":"umano"},"de":{"language":"de","value":"Mensch"},"es":{"language":"es","value":"ser
        humano"},"pt":{"language":"pt","value":"ser humano"},"nl":{"language":"nl","value":"mens"}},"descriptions":{"en":{"language":"en","value":"any
        member of Homo sapi[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q2994625%7CQ3712743%7CQ42%7CQ5&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car&format=json
  response:
    body:
      string: '{"entities":{"Q2994625":{"type":"item","id":"Q2994625","labels":{"fr":{"language":"fr","value":"consistance"}},"descriptions":{}},"Q3712743":{"type":"item","id":"Q3712743","labels":{"it":{"language":"it","value":"Dom"},"es":{"language":"es","value":"Dom"}},"descriptions":{"es":{"language":"es","value":"T\u00edtulo
        honor\u00edfico"},"it":{"language":"it","value":"trattamento d''onore"}}},"Q42":{"type":"item","id":"Q42","labels":{"en":{"language":"en","value":"Douglas
        Adams"},"fr":{"language":"fr","value":"Douglas Adams"},"ru":{"language":"ru","value":"\u0414\u0443\u0433\u043b\u0430\u0441
        \u0410\u0434\u0430\u043c\u0441"},"it":{"language":"it","value":"Douglas Adams"},"es":{"language":"es","value":"Douglas
        Adams"},"pt":{"language":"pt","value":"Douglas Adams"},"nl":{"language":"nl","value":"Douglas
        Adams"},"ar":{"language":"ar","value":"\u062f\u0648\u063a\u0644\u0627\u0633
        \u0622\u062f\u0645\u0632"},"de":{"language":"de","value":"Douglas Adams"}},"descriptions":{"en":{"language":"en","value":"English
        science fiction writer and humourist"},"fr":{"language":"fr","value":"\u00e9crivain
        de science-fiction et humoriste anglais"},"it":{"language":"it","value":"scrittore
        e umorista britannico"},"de":{"language":"de","value":"britischer Science-Fiction-Autor
        und Humorist[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q2994625%7CQ3712743%7CQ42%7CQ5&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car%7Cuk%7Cbn%7Csq%7Che%7Cko%7Cbg%7Csk%7Cvi%7Cel%7Csv%7Chu%7Cid%7Cast%7Cga%7Cpl%7Cth%7Cfa%7Cur%7Cmk%7Cbe%7Cml%7Ceu%7Czh-hant&format=json
  response:
    body:
      string: '{"entities":{"Q2994625":{"type":"item","id":"Q2994625","labels":{"fr":{"language":"fr","value":"consistance"}},"descriptions":{}},"Q3712743":{"type":"item","id":"Q3712743","labels":{"it":{"language":"it","value":"Dom"},"es":{"language":"es","value":"Dom"}},"descriptions":{"es":{"language":"es","value":"T\u00edtulo
        honor\u00edfico"},"it":{"language":"it","value":"trattamento d''onore"}}},"Q42":{"type":"item","id":"Q42","labels":{"en":{"language":"en","value":"Douglas
        Adams"},"fr":{"language":"fr","value":"Douglas Adams"},"ru":{"language":"ru","value":"\u0414\u0443\u0433\u043b\u0430\u0441
        \u0410\u0434\u0430\u043c\u0441"},"pl":{"language":"pl","value":"Douglas Adams"},"it":{"language":"it","value":"Douglas
        Adams"},"es":{"language":"es","value":"Douglas Adams"},"pt":{"language":"pt","value":"Douglas
        Adams"},"ko":{"language":"ko","value":"\ub354\uae00\ub7ec\uc2a4 \uc560\ub364\uc2a4"},"nl":{"language":"nl","value":"Douglas
        Adams"},"el":{"language":"el","value":"\u039d\u03c4\u03ac\u03b3\u03ba\u03bb\u03b1\u03c2
        \u0386\u03bd\u03c4\u03b1\u03bc\u03c2"},"ar":{"language":"ar","value":"\u062f\u0648\u063a\u0644\u0627\u0633
        \u0622\u062f\u0645\u0632"},"be":{"language":"be","value":"\u0414\u0443\u0433\u043b\u0430\u0441
        \u0410\u0434\u0430\u043c\u0441"},"bg":{"language":"bg","value":"\u0414\u044a\u0433\u043b\u0430\u0441
        \u0410\u0434\u0430\u043c\u0441"},"fa":{"language":"fa","value":"\u062f\u0627\u06af\u0644\u0627\u0633
        \u0622\u062f\u0627\u0645\u0632"},"ga":{"language":"ga","value":"Douglas Adams"},"he":{"language":"he","value":"\u05d3\u05d0\u05d2\u05dc\u05e1
        \u05d0\u05d3\u05de\u05e1"},"hu":{"language":"hu","value":"Douglas Adams"},"id":{"language":"id","value":"Douglas
        Adams"},"mk":{"language":"mk","value":"\u0414\u0430\u0433\u043b\u0430\u0441
        \u0410\u0434\u0430\u043c\u0441"},"sk":{"language":"sk","value":"Douglas Adams"},"sq":{"language":"sq","value":"Douglas
        Adams"},"sv":{"language":"sv","value":"Douglas Adams"},"uk":{"language":"uk","value":"\u0414\u0443\u0433\u043b\u0430\u0441
        \u0410\u0434\u0430\u043c\u0441"},"vi":{"language":"vi","value":"Douglas Adams"},"zh-hant":{"language":"zh-hant","value":"\u9053\u683c\u62c9\u65af\u00b7\u4e9e\u7576\u65af"},"ur":{"language":"ur","value":"\u0688\u06af\u0644\u0633
        \u0627\u06cc\u0688\u0645"},"eu":{"language":"eu","value":"Douglas Adams"},"de":{"language":"de","value":"Douglas
        Adams"},"bn":{"language":"bn","value":"\u09a1\u0997\u09b2\u09be\u09b8 \u0985\u09cd\u09af\u09be\u09a1\u09be\u09ae\u09b8"},"ml":{"language":"ml","value":"\u0d21\u0d17\u0d4d\u0d32\u0d38\u0d4d
        \u0d06\u0d21\u0d02\u0d38\u0d4d"},"ast":{"language":"ast","value":"Douglas
        Adams"},"th":{"language":"th","value":"\u0e14\u0e31\u0e01\u0e25\u0e31\u0e2a
        \u0e41\u0e2d\u0e14\u0e31\u0e21\u0e2a\u0e4c"}},"descriptions":{"en":{"language":"en","value":"English
        science fiction writer and humourist"},"fr":{"language":"fr","value":"\u00e9crivain
        de science-fiction et humoriste anglais"},"it":{"language":"it","value":"scrittore
        e umorista britannico"},"de":{"language":"de","value":"britischer Science-Fiction-Autor
        und Humorist"},"es":{"language":"es","val[...]
