interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1703741037&torev=1803826490
  response:
    body:
      string: '{"compare":{"fromid":21314219,"fromrevid":1703741037,"fromns":0,"fromtitle":"Q19713343","fromuser":"Thomasstjerne","fromuserid":3442020,"toid":21314219,"torevid":1803826490,"tons":0,"totitle":"Q19713343","touser":"93.176.133.171","touserid":0,"prev":1565458118,"next":1803917776,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P105\"
        href=\"/wiki/Property:P105\">taxon rank</a></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P105\" href=\"/wiki/Property:P105\">taxon rank</a></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><a title=\"Q7432\" href=\"/wiki/Q7432\">species</a></span></del></div></td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span><a title=\"Q1040689\" href=\"/wiki/Q1040689\">synonym</a></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P105\" href=\"/wiki/Property:P105\">taxon rank</a>:
        <a title=\"Q1040689\" href=\"/wiki/Q1040689\">synonym</a> / reference</td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><a
        title=\"Property:P248\" href=\"/wiki/Property:P248\">stated in</a>: <a title=\"Q47542613\"
        href=\"/wiki/Q47542613\">Plants of the World Online</a></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P171\"
        href=\"/wiki/Property:P171\">parent taxon</a></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P171\" href=\"/wiki/Property:P171\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q19713343&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1803826490&rvendid=1703741037&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"21314219":{"pageid":21314219,"ns":0,"title":"Q19713343","revisions":[{"user":"93.176.133.171","anon":"","timestamp":"2023-01-05T15:53:01Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P171]]: [[Q88983137]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"93.176.133.171","anon":"","timestamp":"2023-01-05T15:51:25Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P105]]: [[Q1040689]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"Thomasstjerne","timestamp":"2022-08-14T09:44:56Z","comment":"/*
        wbeditentity-update:0| */ add P10585 claim: PF3H","tags":[]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q19713343&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1803826490&rvendid=1703741037&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"21314219":{"pageid":21314219,"ns":0,"title":"Q19713343","revisions":[{"user":"93.176.133.171","anon":"","timestamp":"2023-01-05T15:53:01Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P171]]: [[Q88983137]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"93.176.133.171","anon":"","timestamp":"2023-01-05T15:51:25Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P105]]: [[Q1040689]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"Thomasstjerne","timestamp":"2022-08-14T09:44:56Z","comment":"/*
        wbeditentity-update:0| */ add P10585 claim: PF3H","tags":[]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
