interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1959727458&torev=1959852276
  response:
    body:
      string: '{"compare":{"fromid":192002,"fromrevid":1959727458,"fromns":0,"fromtitle":"Q194064","fromuser":"170.78.44.25","fromuserid":0,"toid":192002,"torevid":1959852276,"tons":0,"totitle":"Q194064","touser":"38.25.30.186","touserid":0,"prev":1948541871,"next":1959882396,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P19\" href=\"/wiki/Property:P19\">place
        of birth</a></td><td colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P19\"
        href=\"/wiki/Property:P19\">place of birth</a></td></tr><tr><td class=\"diff-marker\"
        data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del class=\"diffchange
        diffchange-inline\"><span><a title=\"Q1218\" href=\"/wiki/Q1218\">Jerusalem</a></span></del></div></td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span><a title=\"Q646615\" href=\"/wiki/Q646615\">Gogogogo</a></span></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q194064&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1959852276&rvendid=1959727458&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"192002":{"pageid":192002,"ns":0,"title":"Q194064","revisions":[{"user":"38.25.30.186","anon":"","timestamp":"2023-08-24T01:10:57Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P19]]: [[Q646615]]","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"170.78.44.25","anon":"","timestamp":"2023-08-23T21:24:37Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P1559]]: BAUPAPA","tags":["new editor
        changing statement","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P19%7CQ1218%7CQ646615&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"P19":{"type":"property","datatype":"wikibase-item","id":"P19","labels":{"en":{"language":"en","value":"place
        of birth"},"de":{"language":"de","value":"Geburtsort"},"it":{"language":"it","value":"luogo
        di nascita"},"fr":{"language":"fr","value":"lieu de naissance"},"es":{"language":"es","value":"lugar
        de nacimiento"},"ru":{"language":"ru","value":"\u043c\u0435\u0441\u0442\u043e
        \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f"},"nl":{"language":"nl","value":"geboorteplaats"},"pt":{"language":"pt","value":"local
        de nascimento"}},"descriptions":{"fr":{"language":"fr","value":"ville (ou
        autre localisation) o\u00f9 la personne est n\u00e9e"},"it":{"language":"it","value":"luogo
        (il pi\u00f9 specifico: ad es. la citt\u00e0, in luogo del paese, o l''ospedale,
        in luogo della citt\u00e0) in cui il soggetto \u00e8 nato"},"en":{"language":"en","value":"most
        specific known (e.g. city instead of country, or hospital instead of city)
        birth location of a person, animal or fictional character"},"de":{"language":"de","value":"Ort,
        in dem eine Person, ein Tier oder ein fiktiver Charakter geboren wurde (so
        genau wie bekannt, z. B. Stadt anstatt von Land oder Krankenhaus anstatt von
        Stadt)"},"es":{"language":"es","value":"sitio m\u00e1s espec\u00edfico conocido
        donde naci\u00f3 una persona, animal o personaje ficticio"},"pt":{"language":"pt","value":"local
        de nascimento da pessoa (o mais espec\u00edfico poss\u00edvel)"},"ru":{"language":"ru","value":"\u043d\u0430\u0438\u0431\u043e\u043b\u0435\u0435
        \u0442\u043e\u0447\u043d\u043e\u0435 \u043c\u0435\u0441\u0442\u043e, \u0433\u0434\u0435
        \u0441\u0443\u0431\u044a\u0435\u043a\u0442 \u0440\u043e\u0434\u0438\u043b\u0441\u044f
        (\u043d\u0430\u043f\u0440\u0438\u043c\u0435\u0440, \u0433\u043e\u0440\u043e\u0434,
        \u0430 \u043d\u0435 \u0441\u0442\u0440\u0430\u043d\u0430)"},"nl":{"language":"nl","value":"de
        meest specifieke bekende geboorteplaats van een persoon"}}},"Q1218":{"type":"item","id":"Q1218","labels":{"es":{"language":"es","value":"Jerusal\u00e9n"},"nl":{"language":"nl","value":"Jeruzalem"},"pt":{"language":"pt","value":"Jerusal\u00e9m"},"ru":{"language":"ru","value":"\u0418\u0435\u0440\u0443\u0441\u0430\u043b\u0438\u043c"},"de":{"language":"de","value":"Jerusalem"},"en":{"language":"en","value":"Jerusalem"},"fr":{"language":"fr","value":"J\u00e9rusalem"},"it":{"language":"it","value":"Gerusalemme"}},"descriptions":{"pt":{"language":"pt","value":"cidade
 [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content%7Cids&titles=Q194064&rvstartid=1959727458&format=json&rvslots=main&rvlimit=1
  response:
    body:
      string: '{"continue":{"rvcontinue":"20230807050513|1948541871","continue":"||"},"query":{"pages":{"192002":{"pageid":192002,"ns":0,"title":"Q194064","revisions":[{"revid":1959727458,"parentid":1948541871,"slots":{"main":{"contentmodel":"wikibase-item","contentformat":"application/json","*":"{\"type\":\"item\",\"id\":\"Q194064\",\"labels\":{\"zh-hans\":{\"language\":\"zh-hans\",\"value\":\"\\u4ee5\\u897f\\u7ed3\"},\"zh-hant\":{\"language\":\"zh-hant\",\"value\":\"\\u4ee5\\u897f\\u7d50\"},\"zh-hk\":{\"language\":\"zh-hk\",\"value\":\"\\u4ee5\\u897f\\u7d50\"},\"zh-cn\":{\"language\":\"zh-cn\",\"value\":\"\\u4ee5\\u897f\\u7ed3\"},\"zh-sg\":{\"language\":\"zh-sg\",\"value\":\"\\u4ee5\\u897f\\u7ed3\"},\"zh-tw\":{\"language\":\"zh-tw\",\"value\":\"\\u4ee5\\u897f\\u7d50\"},\"pl\":{\"language\":\"pl\",\"value\":\"Ezechiel\"},\"eu\":{\"language\":\"eu\",\"value\":\"Ezekiel\"},\"fr\":{\"language\":\"fr\",\"value\":\"\\u00c9z\\u00e9chiel\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05d9\\u05d7\\u05d6\\u05e7\\u05d0\\u05dc\"},\"ko\":{\"language\":\"ko\",\"value\":\"\\uc5d0\\uc81c\\ud0a4\\uc5d8\"},\"be\":{\"language\":\"be\",\"value\":\"\\u0415\\u0437\\u0435\\u043a\\u0456\\u0456\\u043b\\u044c\"},\"es\":{\"language\":\"es\",\"value\":\"Ezequiel\"},\"ta\":{\"language\":\"ta\",\"value\":\"\\u0b8e\\u0b9a\\u0bc7\\u0b95\\u0bcd\\u0b95\\u0bbf\\u0baf\\u0bc7\\u0bb2\\u0bcd\"},\"hu\":{\"language\":\"hu\",\"value\":\"Ez\\u00e9kiel
        pr\\u00f3f\\u00e9ta\"},\"it\":{\"language\":\"it\",\"value\":\"Ezechiele\"},\"sw\":{\"language\":\"sw\",\"value\":\"Nabii
        Ezekieli\"},\"de\":{\"language\":\"de\",\"value\":\"Ezechiel\"},\"id\":{\"language\":\"id\",\"value\":\"Yehezkiel\"},\"ja\":{\"language\":\"ja\",\"value\":\"\\u30a8\\u30bc\\u30ad\\u30a8\\u30eb\"},\"sv\":{\"language\":\"sv\",\"value\":\"Hesekiel\"},\"nl\":{\"language\":\"nl\",\"value\":\"Ezechi\\u00ebl\"},\"pt\":{\"language\":\"pt\",\"value\":\"Ezequiel\"},\"sk\":{\"language\":\"sk\",\"value\":\"Ezechiel\"},\"yi\":{\"language\":\"yi\",\"value\":\"\\u05d9\\u05d7\\u05d6\\u05e7\\u05d0\\u05dc\"},\"ru\":{\"language\":\"ru\",\"value\":\"\\u0415\\u0437\\u0435\\u043a\\u0438\\u044f\"},\"sr-el\":{\"language\":\"sr-el\",\"value\":\"Jezekilj\"},\"sr-ec\":{\"language\":\"sr-ec\",\"value\":\"\\u0408\\u0435\\u0437\\u0435\\u043a\\u0438\\u0459\"},\"en\":{\"language\":\"en\",\"value\":\"Ezekiel\"},\"ro\":{\"language\":\"ro\",\"value\":\"Ezechiel\"},\"ca\":{\"language\":\"ca\",\"value\":\"Ezequiel\"},\"fi\":{\"language\":\"fi\",\"value\":\"Hesekiel\"},\"uk\":{\"language\":\"uk\",\"value\":\"\\u0404\\u0437\\u0435\\u043a\\u0456\\u0457\\u043b\\u044c\"},\"cy\":{\"language\":\"cy\",\"value\":\"Eseciel\"},\"sl\":{\"language\":\"sl\",\"value\":\"Ezekiel\"},\"cs\":{\"language\":\"cs\",\"value\":\"Ezechiel\"},\"bg\":{\"language\":\"bg\",\"value\":\"\\u0415\\u0437\\u0435\\u043a\\u0438\\u043b\"},\"fa\":{\"language\":\"fa\",\"value\":\"\\u062d\\u0632\\u0642\\u06cc\\u0627\\u0644\"},\"ka\":{\"language\":\"ka\",\"value\":\"\\u10d4\\u10d6\\u10d4\\u10d9\\u10d8\\u10d4\\u10da\\u10d8\"},\"lt\":{\"language\":\"lt\",\"value\":\"Ezechielis\"},\"tl\":{\"language\":\"tl\",\"value\":\"Ezekiel\"},\"el\":{\"language\":\"el\",\"value\":\"\\u0399\\u03b5\\u03b6\\u03b5\\u03ba\\u03b9\\u03ae\\u03bb\"},\"fo\":{\"language\":\"fo\",\"value\":\"Ezekiel\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u4ee5\\u897f\\u7d50\"},\"sr\":{\"language\":\"sr\",\"value\":\"\\u0408\\u0435\\u0437\\u0435\\u043a\\u0438\\u0459\"},\"eo\":{\"language\":\"eo\",\"value\":\"Je\\u0125ezkelo\"},\"nb\":{\"language\":\"nb\",\"value\":\"Esekiel\"},\"ur\":{\"language\":\"ur\",\"value\":\"\\u062d\\u0632\\u0642\\u06cc
        \\u0627\\u06cc\\u0644\"},\"la\":{\"language\":\"la\",\"value\":\"Ezechiel\"},\"hy\":{\"language\":\"hy\",\"value\":\"\\u0535\\u0566\\u0565\\u056f\\u056b\\u0561\"},\"ar\":{\"language\":\"ar\",\"value\":\"\\u062d\\u0632\\u0642\\u064a\\u0627\\u0644\"},\"ga\":{\"language\":\"ga\",\"value\":\"Eizic\\u00e9il\"},\"br\":{\"language\":\"br\",\"value\":\"Yehezkel\"},\"pt-br\":{\"language\":\"pt-br\",\"value\":\"Ezequiel\"},\"sco\":{\"language\":\"sco\",\"value\":\"Ezekiel\"},\"mg\":{\"language\":\"mg\",\"value\":\"Ezekiela\"},\"hr\":{\"language\":\"hr\",\"value\":\"Ezekijel\"},\"arz\":{\"language\":\"arz\",\"value\":\"\\u062d\\u0632\\u0642\\u064a\\u0627\\u0644\"},\"arc\":{\"language\":\"arc\",\"value\":\"\\u071a\\u0719\\u0729\\u071d\\u0710\\u071d\\u0720\"},\"tr\":{\"language\":\"tr\",\"value\":\"Hezekiel\"},\"bn\":{\"language\":\"bn\",\"value\":\"\\u09af\\u09bf\\u09b9\\u09bf\\u09b7\\u09cd\\u0995\\u09c7\\u09b2\"},\"kn\":{\"language\":\"kn\",\"value\":\"\\u0c8e\\u0c9c\\u0cc6\\u0c95\\u0cbf\\u0caf\\u0cb2\\u0ccd\"},\"da\":{\"language\":\"da\",\"value\":\"Ezekiel\"},\"mi\":{\"language\":\"mi\",\"value\":\"Ehekiera\"},\"mk\":{\"language\":\"mk\",\"value\":\"\\u0415\\u0437\\u0435\\u043a\\u0438\\u043b\"},\"gl\":{\"language\":\"gl\",\"value\":\"Ecequiel\"},\"nn\":{\"language\":\"nn\",\"value\":\"Esekiel\"},\"sq\":{\"language\":\"sq\",\"value\":\"Ezekiel\"},\"war\":{\"language\":\"war\",\"value\":\"Ezekiel\"}},\"descriptions\":{\"nl\":{\"language\":\"nl\",\"value\":\"profeet\"},\"de\":{\"language\":\"de\",\"value\":\"israelitischer
        Prophet\"},\"en\":{\"language\":\"en\",\"value\":\"prophet in the Abrahamic
        religions\"},\"it\":{\"language\":\"it\",\"value\":\"profeta biblico\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05d3\\u05de\\u05d5\\u05ea
        \\u05de\\u05e7\\u05e8\\u05d0\\u05d9\\u05ea. \\u05e0\\u05d1\\u05d9\\u05d0 \\u05e9\\u05d7\\[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q1218%7CQ1349880%7CQ168827%7CQ19271130%7CQ20643955%7CQ432386%7CQ482980%7CQ48685%7CQ6581097%7CQ7325&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"Q1218":{"type":"item","id":"Q1218","labels":{"es":{"language":"es","value":"Jerusal\u00e9n"},"nl":{"language":"nl","value":"Jeruzalem"},"p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&prop=extracts&exsentences=2&explaintext=true&exsectionformat=plain&titles=Ezekiel&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"9911":{"pageid":9911,"ns":0,"title":"Ezekiel","extract":"Ezekiel
        or Ezechiel (; Hebrew: \u05d9\u05b0\u05d7\u05b6\u05d6\u05b0\u05e7\u05b5\u05d0\u05dc
        Y\u0259\u1e25ezq\u0113\u02bel [j\u0259.\u0127\u025bz\u02c8qe\u02d0l]; in the
        Septuagint written in Koin\u0113 Greek: \u1f38\u03b5\u03b6\u03b5\u03ba\u03b9\u03ae\u03bb
        Iezeki\u1e17l [i.\u025b.z\u025b.ki\u02c8el]) is the central protagonist of
        the Book of Ezekiel in the Hebrew Bible.\nIn Judaism, Christianity, and Islam,
        Ezekiel is acknowledged as a Hebrew prophet."}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
