interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1788346432&torev=1897073502
  response:
    body:
      string: '{"compare":{"fromid":1452640,"fromrevid":1788346432,"fromns":0,"fromtitle":"Q1515445","fromuser":"90.63.235.11","fromuserid":0,"toid":1452640,"torevid":1897073502,"tons":0,"totitle":"Q1515445","touser":"80.11.85.7","touserid":0,"prev":1785517881,"next":1897078254,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P2130\"
        href=\"/wiki/Property:P2130\">cost</a></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P2130\" href=\"/wiki/Property:P2130\">cost</a></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><b class=\"wb-details wb-quantity-details
        wb-quantity-rendered\">18 bee</b><table class=\"wb-details wb-quantity-details\"><tr><th
        class=\"wb-quantity-amount\">Amount</th><td class=\"wb-quantity-amount\">18
        bee</td></tr><tr><th class=\"wb-quantity-unit\">Unit</th><td class=\"wb-quantity-unit\"><a
        href=\"http://www.wikidata.org/entity/Q857492\">bee</a></td></tr></table></span></del></div></td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\"><span><b class=\"wb-details wb-quantity-details
        wb-quantity-rendered\">10 euro</b><table class=\"wb-details wb-quantity-details\"><tr><th
        class=\"wb-quantity-amount\">Amount</th><td class=\"wb-quantity-amount\">10
        euro</td></tr><tr><th class=\"wb-quantity-unit\">Unit</th><td class=\"wb-quantity-unit\"><a
        href=\"http://www.wikidata.org/entity/Q4916\">euro</a></td></tr></table></span></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q1515445&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1897073502&rvendid=1788346432&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"1452640":{"pageid":1452640,"ns":0,"title":"Q1515445","revisions":[{"user":"80.11.85.7","anon":"","timestamp":"2023-05-16T07:30:25Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2130]]: 10 euro","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"80.11.85.7","anon":"","timestamp":"2023-05-16T07:29:58Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2130]]: 8,000,000,000 euro","tags":["new
        editor changing statement","mw-reverted","wikidata-ui"]},{"user":"194.250.50.9","anon":"","timestamp":"2023-01-04T10:08:43Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2130]]: 800,000,000 euro","tags":["new
        editor changing statement","mw-reverted","wikidata-ui"]},{"user":"90.63.235.11","anon":"","timestamp":"2022-12-12T10:15:43Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2130]]: 18 bee","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
