interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1952481644&torev=1952663526
  response:
    body:
      string: '{"compare":{"fromid":4246474,"fromrevid":1952481644,"fromns":0,"fromtitle":"Q4115189","fromuser":"QuickQuokka","fromuserid":4836358,"toid":4246474,"torevid":1952663526,"tons":0,"totitle":"Q4115189","touser":"BrokenSegue","touserid":193966,"prev":1952481543,"next":1952667492,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P5021\"
        href=\"/wiki/Property:P5021\">assessment</a></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P5021\" href=\"/wiki/Property:P5021\">assessment</a></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><span class=\"wikibase-snakview-variation-somevaluesnak\">unknown
        value</span></span></del></div></td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><span
        class=\"wikibase-snakview-variation-novaluesnak\">no value</span></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P5021\"
        href=\"/wiki/Property:P5021\">assessment</a>: <span class=\"wikibase-snakview-variation-somevaluesnak\">unknown
        value</span> / rank</td><td colspan=\"2\" class=\"diff-lineno\">Property /
        <a title=\"Property:P5021\" href=\"/wiki/Property:P5021\">assessment</a>:
        <span class=\"wikibase-snakview-variation-novaluesnak\">no value</span> /
        rank</td></tr><tr><td class=\"diff-marker\" data-marker=\"\u2212\"></td><td
        class=\"diff-deletedline\"><div><del class=\"diffchange diffchange-inline\"><span>Normal
        rank</span></del></div></td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span>Deprecated
        rank</span></ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1952663526&rvendid=1952481644&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-12T22:35:42Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P5021]]: no value","tags":["mw-reverted","wikidata-ui"]},{"user":"QuickQuokka","timestamp":"2023-08-12T15:17:00Z","comment":"/*
        wbsetsitelink-set-badges:1|enwiki */","tags":["mw-manual-revert","mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1952663526&rvendid=1952481644&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-12T22:35:42Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P5021]]: no value","tags":["mw-reverted","wikidata-ui"]},{"user":"QuickQuokka","timestamp":"2023-08-12T15:17:00Z","comment":"/*
        wbsetsitelink-set-badges:1|enwiki */","tags":["mw-manual-revert","mw-reverted","wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
