interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1419596909&torev=1942074309
  response:
    body:
      string: '{"compare":{"fromid":30280499,"fromrevid":1419596909,"fromns":0,"fromtitle":"Q28587782","fromuser":"Cewbot","fromuserid":2692538,"toid":30280499,"torevid":1942074309,"tons":0,"totitle":"Q28587782","touser":"BrokenSegue","touserid":193966,"prev":1344759731,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">label / en</td><td colspan=\"2\" class=\"diff-lineno\">label
        / en</td></tr><tr><td class=\"diff-marker\" data-marker=\"\u2212\"></td><td
        class=\"diff-deletedline\"><div>legal <del class=\"diffchange diffchange-inline\">challenge
        </del>to <del class=\"diffchange diffchange-inline\">Executive Order 13769</del></div></td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div>legal
        <ins class=\"diffchange diffchange-inline\">challenges </ins>to <ins class=\"diffchange
        diffchange-inline\">the Trump travel ban</ins></div></td></tr><tr><td colspan=\"2\"
        class=\"diff-lineno\">aliases / en / 0</td><td colspan=\"2\" class=\"diff-lineno\">aliases
        / en / 0</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\">legal challenge to Executive Order 13769</ins></div></td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q28587782&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1942074309&rvendid=1419596909&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"30280499":{"pageid":30280499,"ns":0,"title":"Q28587782","revisions":[{"user":"BrokenSegue","timestamp":"2023-07-29T00:49:15Z","comment":"/*
        wbsetaliases-add:1|en */ legal challenge to Executive Order 13769","tags":["wikidata-ui"]},{"user":"BrokenSegue","timestamp":"2023-07-29T00:49:14Z","comment":"/*
        wbsetlabel-set:1|en */ legal challenges to the Trump travel ban","tags":["wikidata-ui"]},{"user":"Cewbot","timestamp":"2021-05-12T19:04:43Z","comment":"/*
        wbsetlabel-add:1|zh */ \u5bf9\u7279\u6717\u666e\u65c5\u884c\u7981\u4ee4\u7684\u6cd5\u5f8b\u6311\u6218,
        [[User:Cewbot#Import labels/aliases|import label/alias]] from [[zh:\u7279\u6717\u666e\u65c5\u884c\u7981\u4ee4]]","tags":[]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
