interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1807348139&torev=1813636413
  response:
    body:
      string: '{"compare":{"fromid":17954966,"fromrevid":1807348139,"fromns":0,"fromtitle":"Q16327287","fromuser":"Nikosguard","fromuserid":1822,"toid":17954966,"torevid":1813636413,"tons":0,"totitle":"Q16327287","touser":"2A02:587:CC90:282A:6DFC:4569:8C9C:1C61","touserid":0,"prev":1807346163,"next":1813984750,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P4602\"
        href=\"/wiki/Property:P4602\">date of burial or cremation</a></td><td colspan=\"2\"
        class=\"diff-lineno\"></td></tr><tr><td class=\"diff-marker\" data-marker=\"\u2212\"></td><td
        class=\"diff-deletedline\"><div><del class=\"diffchange diffchange-inline\"><span><b
        class=\"wb-details wb-time-details wb-time-rendered\">7 January 2023</b><table
        class=\"wb-details wb-time-details\"><tr><th class=\"wb-time-isotime\">Timestamp</th><td
        class=\"wb-time-isotime\">+2023-01-07T00:00:00Z</td></tr><tr><th class=\"wb-time-timezone\">Timezone</th><td
        class=\"wb-time-timezone\">+00:00</td></tr><tr><th class=\"wb-time-calendar\">Calendar</th><td
        class=\"wb-time-calendar\">Gregorian</td></tr><tr><th class=\"wb-time-precision\">Precision</th><td
        class=\"wb-time-precision\">1 day</td></tr><tr><th class=\"wb-time-before\">Before</th><td
        class=\"wb-time-befor[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q16327287&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1813636413&rvendid=1807348139&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"17954966":{"pageid":17954966,"ns":0,"title":"Q16327287","revisions":[{"user":"2A02:587:CC90:282A:6DFC:4569:8C9C:1C61","anon":"","timestamp":"2023-01-17T22:40:42Z","comment":"/*
        wbremoveclaims-remove:1| */ [[Property:P4602]]: 7 January 2023","tags":["new
        editor removing statement","mw-manual-revert","mw-reverted","wikidata-ui"]},{"user":"Nikosguard","timestamp":"2023-01-09T06:32:02Z","comment":"/*
        wbsetclaim-update:2||1|1 */ [[Property:P4602]]: 7 January 2023","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
