interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1794231076&torev=1846325831
  response:
    body:
      string: '{"compare":{"fromid":20144956,"fromrevid":1794231076,"fromns":0,"fromtitle":"Q18613182","fromuser":"Alhaj
        Darajaati","fromuserid":4644815,"toid":20144956,"torevid":1846325831,"tons":0,"totitle":"Q18613182","touser":"109.20.19.85","touserid":0,"prev":1776358022,"next":1860401189,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">aliases / fr / 0</td><td colspan=\"2\"
        class=\"diff-lineno\">aliases / fr / 0</td></tr><tr><td colspan=\"2\">\u00a0</td><td
        class=\"diff-marker\" data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins
        class=\"diffchange diffchange-inline\">Vienois</ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P2048\"
        href=\"/wiki/Property:P2048\">height</a></td><td colspan=\"2\" class=\"diff-lineno\"></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><b class=\"wb-details wb-quantity-details
        wb-quantity-rendered\">1.76 metre</b><table class=\"wb-details wb-quantity-details\"><tr><th
        class=\"wb-quantity-amount\">Amount</th><td class=\"wb-quantity-amount\">1.76
        metre</td></tr><tr><th class=\"wb-quantity-unit\">Unit</th><td class=\"wb-quantity-unit\"><a
        href=\"http://www.wikidata.org/entity/Q11573\">metre</a></td></tr></table></span></del></div></td><td
        colspan=\"2\">\u00a0</td></tr><tr><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P2048\" href=\"/wiki/Property:P2048\">height</a>: 1.76
        <span class=\"wb-unit\">metre</span> / rank</td><td colspan=\"2\" class=\"diff-lineno\"></td></tr><tr><td
        class=\"diff-marker\" [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q18613182&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1846325831&rvendid=1794231076&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"20144956":{"pageid":20144956,"ns":0,"title":"Q18613182","revisions":[{"user":"109.20.19.85","anon":"","timestamp":"2023-03-06T22:09:24Z","comment":"/*
        wbremoveclaims-remove:1| */ [[Property:P2067]]: 265 kilogram","tags":["new
        editor removing statement","mw-reverted","wikidata-ui"]},{"user":"109.20.19.85","anon":"","timestamp":"2023-03-06T22:08:09Z","comment":"/*
        wbremoveclaims-remove:1| */ [[Property:P2048]]: 2.5 metre","tags":["new editor
        removing statement","mw-reverted","wikidata-ui"]},{"user":"82.64.234.225","anon":"","timestamp":"2023-03-04T20:31:05Z","comment":"/*
        wbeditentity-update-languages-short:0||fr */","tags":["mobile edit","mobile
        web edit","mw-reverted","wikidata-ui","termbox"]},{"user":"194.78.25.130","anon":"","timestamp":"2023-03-03T15:00:12Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2048]]: 2.5 metre","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"92.173.136.153","anon":"","timestamp":"2023-02-28T14:38:07Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2048]]: 5 metre","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"92.173.136.153","anon":"","timestamp":"2023-02-28T14:37:00Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P2067]]: 265 kilogram","tags":["new editor
        changing statement","mw-reverted","wikidata-ui"]},{"user":"Alhaj Darajaati","timestamp":"2022-12-22T15:09:06Z","comment":"/*
        wbsetdescription-add:1|dag */ French yiliyiina \u014bun ny\u025b doo, [[:toollabs:quickstatements/#/batch/107254|batch
        #107254]]","tags":["OAuth CID: 1776"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
