interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1952843189&torev=1953415294
  response:
    body:
      string: '{"compare":{"fromid":4246474,"fromrevid":1952843189,"fromns":0,"fromtitle":"Q4115189","fromuser":"132.234.229.62","fromuserid":0,"toid":4246474,"torevid":1953415294,"tons":0,"totitle":"Q4115189","touser":"BrokenSegue","touserid":193966,"prev":1952763643,"next":1953423760,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P6254\" href=\"/wiki/Property:P6254\">subject lexeme</a></td></tr><tr><td
        colspan=\"2\">\u00a0</td><td class=\"diff-marker\" data-marker=\"+\"></td><td
        class=\"diff-addedline\"><div><ins class=\"diffchange diffchange-inline\"><span><a
        href=\"/wiki/Lexeme:L312259\" title=\"L312259: Bokm\u00e5l, determiner\"><span
        lang=\"nb\">femti</span><span>/</span><span lang=\"nb-x-q11563\">50</span><span>/</span><span
        lang=\"nb-x-q38918\">L</span></a></span></ins></div></td></tr><tr><td colspan=\"2\"
        class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P6254\" href=\"/wiki/Property:P6254\">subject lexeme</a>:
        <a href=\"/wiki/Lexeme:L312259\" tit[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q4115189&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1953415294&rvendid=1952843189&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4246474":{"pageid":4246474,"ns":0,"title":"Q4115189","revisions":[{"user":"BrokenSegue","timestamp":"2023-08-14T04:32:34Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P6254]]: [[Lexeme:L312259]]","tags":["mw-reverted","wikidata-ui"]},{"user":"132.234.229.62","anon":"","timestamp":"2023-08-13T06:48:26Z","comment":"/*
        restore:0||1901229799|132.234.229.173 */","tags":["mw-manual-revert"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
version: 1
