interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1803872614&torev=1830219760
  response:
    body:
      string: '{"compare":{"fromid":364377,"fromrevid":1803872614,"fromns":0,"fromtitle":"Q382948","fromuser":"4ing","fromuserid":121598,"toid":364377,"torevid":1830219760,"tons":0,"totitle":"Q382948","touser":"90.115.47.133","touserid":0,"prev":1788508885,"next":1830260334,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\"></td><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P569\" href=\"/wiki/Property:P569\">date of birth</a>:
        <span class=\"wikibase-snakview-variation-somevaluesnak\">unknown value</span>
        / qualifier</td></tr><tr><td colspan=\"2\">\u00a0</td><td class=\"diff-marker\"
        data-marker=\"+\"></td><td class=\"diff-addedline\"><div><ins class=\"diffchange
        diffchange-inline\"><span><a title=\"Property:P1326\" href=\"/wiki/Property:P1326\">latest
        date</a>: <b class=\"wb-details wb-time-details wb-time-rendered\">3330 BCE</b><table
        class=\"wb-details wb-time-details\"><tr><th class=\"wb-time-isotime\">Timestamp</th><td
        class=\"wb-time-isotime\">\u22123330-00-00T00:00:00Z</td></tr><tr><th class=\"wb-time-timezone\">Timezone</th><td
        class=\"wb-time-timezone\">+00:00</td></tr><tr><th class=\"wb-time-calendar\">Calendar</th><td
        class=\"wb-time-calendar\">Julian</td></tr><tr><th class=\"wb-time-precision\">Precision</th><td
        class=\"wb-time-precision\">1 year</td></tr><tr><th class=\"wb-time-before\">Before</th><td
        class=\"wb-time-before\">0</td></tr><tr><th class=\"wb-time-after\">After</th><td
        class=\"wb-time-after\">0</td></tr></table></span></ins></div></td></tr><tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P569\"
        href=\"/wiki/Property:P569\">date of birth</a>: <span class=\"wikibase-snakview-variation-somevaluesnak\">unknown
        value</span> / qualifier</td><td colspan=\"2\" class=\"diff-lineno\"></td></tr><tr><td
        class=\"diff-marker\" data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del
        class=\"diffchange diffchange-inline\"><span><a title=\"Property:P1326\" href=\"/wiki/Property:P1326\">latest
        date</a>: <b class=\"wb-details wb-time-details wb-time-rendered\">324 BCE<sup
        class=\"wb-calendar-name\">Gregorian</sup></b><table class=\"wb-details wb-time-details\"><tr><th
        class=\"wb-time-isotime\">Timestamp</th><td class=\"wb-time-isotime\">\u22120324-00-00T00:00:00Z</td></tr><tr><th
        class=\"wb-time-timezone\">Timezone</th><td class=\"wb-time-timezone\">+00:00</td></tr><tr><th
        class=\"wb-time-calendar\">Calendar</th><td class=\"wb-time-calendar\">Gregorian</td></tr><tr><th
        class=\"wb-time-precision\">Precision</th><td class=\"wb-time-precision\">1
        year</td></tr><tr><th class=\"wb-time-before\">Before</th><td class=\"wb-time-before\">0</td></tr><tr><th
        class=\"wb-time-after\">After</th><td class=\"wb-time-after\">0</td></tr></table></span></del></div></td><td
        colspan=\"2\">\u00a0</td></tr><tr><td colspan=\"2\" class=\"diff-lineno\">Property
        / <a title=\"Property:P570\" href=\"/wiki/Property:P570\">date of death</a></td><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P570\"
        href=\"/wiki/Property:P570\">date of death</a></td></tr><tr><td class=\"diff-marker\"
        data-marker=\"\u2212\"></td><td class=\"diff-deletedline\"><div><del class=\"diffchange
        diffchange-inline\"><span><b class=\"wb-details wb-time-details wb-time-rendered\">270
        BCE<sup class=\"wb-calendar-name\">Gregorian</sup></b><table class=\"wb-details
        wb-time-details\"><tr><th class=\"wb-time-isotime\">Timestamp</th><td class=\"wb-time-isotime\">\u22120270-00-00T00:00:00Z</td></tr><tr><th
        class=\"wb-time-timezone\">Timezone</th><td class=\"wb-time-timezone\">+00:00</td></tr><tr><th
        class=\"wb-time-calendar\">Calendar</th><td class=\"wb-time-calendar\">Gregorian</td></tr><tr><th
        class=\"wb-time-precision\">Precision</th><td class=\"wb-time-p[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q382948&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1830219760&rvendid=1803872614&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"364377":{"pageid":364377,"ns":0,"title":"Q382948","revisions":[{"user":"90.115.47.133","anon":"","timestamp":"2023-02-09T14:39:14Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P570]]: 2029","tags":["new editor changing
        statement","possible vandalism","mw-reverted","wikidata-ui"]},{"user":"90.115.47.133","anon":"","timestamp":"2023-02-09T14:39:04Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P570]]: 2023","tags":["new editor changing
        statement","mw-reverted","wikidata-ui"]},{"user":"90.115.47.133","anon":"","timestamp":"2023-02-09T14:35:10Z","comment":"/*
        wbsetclaim-update:2||1|2 */ [[Property:P569]]: unknown value","tags":["new
        editor changing statement","mw-reverted","wikidata-ui"]},{"user":"90.115.47.133","anon":"","timestamp":"2023-02-09T14:13:08Z","comment":"/*
        wbsetclaim-update:2||1 */ [[Property:P570]]: 1999","tags":["new editor changing
        statement","mw-reverted","wikidata-ui"]},{"user":"4ing","timestamp":"2023-01-05T16:43:21Z","comment":"/*
        wbsetlabel-add:1|nn */ Manius Curius Dentatus, [[:toollabs:quickstatements/#/batch/108264|batch
        #108264]]","tags":["OAuth CID: 1776"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P1326%7CP569%7CP570&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"P1326":{"type":"property","datatype":"time","id":"P1326","labels":{"en":{"language":"en","value":"latest
        date"},"ru":{"language":"ru","value":"\u043d\u0435 \u043f\u043e\u0437\u0434\u043d\u0435\u0435"},"de":{"language":"de","value":"sp\u00e4testm\u00f6glicher
        Zeitpunkt"},"fr":{"language":"fr","value":"date au plus tard"},"nl":{"language":"nl","value":"laatst
        mogelijke datum"},"es":{"language":"es","value":"fecha m\u00e1s tard\u00eda"},"it":{"language":"it","value":"data
        pi\u00f9 tarda"},"pt":{"language":"pt","value":"data mais recente"}},"descriptions":{"en":{"language":"en","value":"latest
        possible time that something could have occurred. Use as qualifier for other
        date properties"},"ru":{"language":"ru","value":"\u043d\u0430\u0438\u0431\u043e\u043b\u0435\u0435
        \u043f\u043e\u0437\u0434\u043d\u044f\u044f \u0434\u0430\u0442\u0430, \u043a\u043e\u0433\u0434\u0430
        \u0441\u043e\u0431\u044b\u0442\u0438\u0435 \u043c\u043e\u0433\u043b\u043e
        \u0441\u043b\u0443\u0447\u0438\u0442\u044c\u0441\u044f"},"de":{"language":"de","value":"sp\u00e4testm\u00f6glicher
        Zeitpunkt, zu dem etwas stattgefunden haben k\u00f6nnte (m\u00f6glicher Zeitpunkt
        liegt davor)"},"fr":{"language":"fr","value":"date la plus tardive \u00e0
        laquelle un \u00e9v\u00e9nement a pu ou pourrait se produire. Utiliser comme
        qualificatif pour d''autres propri\u00e9t\u00e9s de date."},"nl":{"language":"nl","value":"laatst
        mogelijke moment dat er iets zou kunnen hebben voorgedaan"},"es":{"language":"es","value":"fecha
        m\u00e1s tard\u00eda posible en la que algo podr\u00eda haber ocurrido"},"it":{"language":"it","value":"data
        oltre la quale non si ritiene possibile sia potuto occorrere un evento"}}},"P569":{"type":"property","datatype":"time","id":"P569","labels":{"fr":{"language":"fr","value":"date
        de naissance"},"en":{"language":"en","value":"date of birth"},"de":{"language":"de","value":"Geburtsdatum"},"it":{"language":"it","value":"data
        di nascita"},"nl":{"language":"nl","value":"geboortedatum"},"ru":{"language":"ru","value":"\u0434\u0430\u0442\u0430
        \u0440\u043e\u0436\u0434\u0435\u043d\u0438\u044f"},"es":{"language":"es","value":"fecha
        de nacimiento"},"pt":{"language":"pt","value":"data de nascimento"}},"descriptions":{"fr":{"language":"fr","value":"date
        \u00e0 laquelle la personne est n\u00e9e"},"de":{"language":"de","value":"Datum,
        an dem eine Person geboren wurde"},"en":{"language":"en","value":"date on
        which the subject was born"},"es":{"language":"es","value":"fecha en la cual
        naci\u00f3 el sujeto"},"it":{"language":"it","value":"data in cui il soggetto
        \u00e8 nato"},"ru":{"language":"ru","value":"\u0434\u0435\u043d\u044c, \u043c\u0435\u0441\u044f\u0446,
        \u0433\u043e\u0434, \u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0439 \u0441\u0443\u0431\u044a\u0435\u043a\u0442
        \u0431\u044b\u043b \u0440\u043e\u0436\u0434\u0451\u043d"},"nl":{"language":"nl","value":"datum
        waarop de persoon is geboren"},"pt":{"language":"pt","value":"data na qual
        o sujeito nasceu"}}},"P570":{"type":"property","datatype":"time","id":"P570","labels":{"fr":{"language":"fr","value":"date
        de mort"},"en":{"language":"en","value":"date of death"},"de":{"language":"de","value":"Sterbedatum"},"it":{"language":"it","value":"data
        di morte"},"nl":{"language":"nl","value":"overlijdensdatum"},"ru":{"language":"ru","value":"\u0434\u0430\u0442\u0430
        \u0441\u043c\u0435\u0440\u0442\u0438"},"es":{"language":"es","value":"fecha
        de fallecimiento"},"pt":{"language":"pt","value":"data de morte"}},"descriptions":{"fr":{"language":"fr","value":"date
        \u00e0 laquelle le sujet est mort"},"de":{"language":"de","value":"Datum,
        an dem eine Person verstarb"},"en":{"language":"en","value":"date on which
        the subject died"},"es":{"language":"es","value":"fecha en la cual falleci\u00f3
        el sujeto"},"it":{"language":"it","value":"data in cui il soggetto \u00e8
        morto"},"nl":{"language":"nl","value":"datum waarop de persoon is overleden"},"ru":{"language":"ru","value":"\u0434\u0435\u043d\u044c,
        \u043c\u0435\u0441\u044f\u0446, \u0433\u043e\u0434, \u0432 \u043a\u043e\u0442\u043e\u0440\u044b\u0439
        \u0441\u0443\u0431\u044a\u0435\u043a\u0442 \u0443\u043c\u0435\u0440"},"pt":{"language":"pt","value":"data
        em que o sujeito morreu"}}}},"success":1}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content%7Cids&titles=Q382948&rvstartid=1803872614&format=json&rvslots=main&rvlimit=1
  response:
    body:
      string: '{"continue":{"rvcontinue":"20221212162952|1788508885","continue":"||"},"query":{"pages":{"364377":{"pageid":364377,"ns":0,"title":"Q382948","revisions":[{"revid":1803872614,"parentid":1788508885,"slots":{"main":{"contentmodel":"wikibase-item","contentformat":"application/json","*":"{\"type\":\"item\",\"id\":\"Q382948\",\"labels\":{\"pt\":{\"language\":\"pt\",\"value\":\"M\\u00e2nio
        C\\u00fario Dentato\"},\"zh-hans\":{\"language\":\"zh-hans\",\"value\":\"\\u9a6c\\u5c3c\\u4e4c\\u65af\\u00b7\\u5e93\\u91cc\\u4e4c\\u65af\\u00b7\\u767b\\u5854\\u56fe\\u65af\"},\"zh-hant\":{\"language\":\"zh-hant\",\"value\":\"\\u99ac\\u5c3c\\u70cf\\u65af\\u00b7\\u5eab\\u91cc\\u70cf\\u65af\\u00b7\\u767b\\u5854\\u5716\\u65af\"},\"zh-hk\":{\"language\":\"zh-hk\",\"value\":\"\\u99ac\\u5c3c\\u70cf\\u65af\\u00b7\\u5eab\\u91cc\\u70cf\\u65af\\u00b7\\u767b\\u5854\\u5716\\u65af\"},\"zh-cn\":{\"language\":\"zh-cn\",\"value\":\"\\u9a6c\\u5c3c\\u4e4c\\u65af\\u00b7\\u5e93\\u91cc\\u4e4c\\u65af\\u00b7\\u767b\\u5854\\u56fe\\u65af\"},\"zh-sg\":{\"language\":\"zh-sg\",\"value\":\"\\u9a6c\\u5c3c\\u4e4c\\u65af\\u00b7\\u5e93\\u91cc\\u4e4c\\u65af\\u00b7\\u767b\\u5854\\u56fe\\u65af\"},\"zh-tw\":{\"language\":\"zh-tw\",\"value\":\"\\u99ac\\u5c3c\\u70cf\\u65af\\u00b7\\u5eab\\u91cc\\u70cf\\u65af\\u00b7\\u767b\\u5854\\u5716\\u65af\"},\"eu\":{\"language\":\"eu\",\"value\":\"Manio
        Kurio Dentato\"},\"fr\":{\"language\":\"fr\",\"value\":\"Manius Curius Dentatus\"},\"ru\":{\"language\":\"ru\",\"value\":\"\\u041c\\u0430\\u043d\\u0438\\u0439
        \\u041a\\u0443\\u0440\\u0438\\u0439 \\u0414\\u0435\\u043d\\u0442\\u0430\\u0442\"},\"es\":{\"language\":\"es\",\"value\":\"Manio
        Curio Dentato\"},\"en\":{\"language\":\"en\",\"value\":\"Manius Curius Dentatus\"},\"ca\":{\"language\":\"ca\",\"value\":\"Mani
        Curi Dentat\"},\"it\":{\"language\":\"it\",\"value\":\"Manio Curio Dentato\"},\"la\":{\"language\":\"la\",\"value\":\"Manius
        Curius Dentatus\"},\"de\":{\"language\":\"de\",\"value\":\"Manius Curius Dentatus\"},\"bg\":{\"language\":\"bg\",\"value\":\"\\u041c\\u0430\\u043d\\u0438\\u0439
        \\u041a\\u0443\\u0440\\u0438\\u0439 \\u0414\\u0435\\u043d\\u0442\\u0430\\u0442\"},\"el\":{\"language\":\"el\",\"value\":\"\\u039c\\u03ac\\u03bd\\u03b9\\u03bf\\u03c2
        \\u039a\\u03bf\\u03cd\\u03c1\\u03b9\\u03bf\\u03c2 \\u0394\\u03b5\\u03bd\\u03c4\\u03ac\\u03c4\\u03bf\\u03c2\"},\"ka\":{\"language\":\"ka\",\"value\":\"\\u10db\\u10d0\\u10dc\\u10d8\\u10e3\\u10e1
        \\u10d9\\u10e3\\u10e0\\u10d8\\u10e3\\u10e1 \\u10d3\\u10d4\\u10dc\\u10e2\\u10d0\\u10e2\\u10e3\\u10e1\\u10d8\"},\"sh\":{\"language\":\"sh\",\"value\":\"Kurije
        Dentat\"},\"nl\":{\"language\":\"nl\",\"value\":\"Manius Curius Dentatus\"},\"zh\":{\"language\":\"zh\",\"value\":\"\\u9a6c\\u5c3c\\u4e4c\\u65af\\u00b7\\u5e93\\u91cc\\u4e4c\\u65af\\u00b7\\u767b\\u5854\\u56fe\\u65af\"},\"hr\":{\"language\":\"hr\",\"value\":\"Kurije
        Dentat\"},\"uk\":{\"language\":\"uk\",\"value\":\"\\u041c\\u0430\\u043d\\u0456\\u0439
        \\u041a\\u0443\\u0440\\u0456\\u0439 \\u0414\\u0435\\u043d\\u0442\\u0430\\u0442\"},\"lt\":{\"language\":\"lt\",\"value\":\"Manijus
        Kurijus Dentatas\"},\"sv\":{\"language\":\"sv\",\"value\":\"Manius Curius
        Dentatus\"},\"hu\":{\"language\":\"hu\",\"value\":\"Manio Curio Dentato\"},\"ja\":{\"language\":\"ja\",\"value\":\"\\u30de\\u30cb\\u30a6\\u30b9\\u30fb\\u30af\\u30ea\\u30a6\\u30b9\\u30fb\\u30c7\\u30f3\\u30bf\\u30c8\\u30a5\\u30b9\"},\"sq\":{\"language\":\"sq\",\"value\":\"Manius
        Curius Dentatus\"},\"nb\":{\"language\":\"nb\",\"value\":\"Manius Curius Dentatus\"},\"da\":{\"language\":\"da\",\"value\":\"Manius
        Curius Dentatus\"},\"pt-br\":{\"language\":\"pt-br\",\"value\":\"M\\u00e2nio
        C\\u00fario Dentato\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05de\\u05d0\\u05e0\\u05d9\\u05d5\\u05e1
        \\u05e7\\u05d5\\u05e8\\u05d9\\u05d5\\u05e1 \\u05d3\\u05e0\\u05d8\\u05d0\\u05d8\\u05d5\\u05e1\"},\"nn\":{\"language\":\"nn\",\"value\":\"Manius
        Curius Dentatus\"}},\"descriptions\":{\"de\":{\"language\":\"de\",\"value\":\"r\\u00f6mischer
        Konsul\"},\"en\":{\"language\":\"en\",\"value\":\"Roman consul\"},\"fr\":{\"language\":\"fr\",\"value\":\"consul
        romain en 290, 275 et 274 av.. J.-C.\"},\"nl\":{\"language\":\"nl\",\"value\":\"politicus
        uit Oude Rome (-270v Chr)\"},\"es\":{\"language\":\"es\",\"value\":\"cuatro
        veces c\\u00f3nsul a principios del siglo III a. C.\"},\"nb\":{\"language\":\"nb\",\"value\":\"romersk
        konsul\"},\"he\":{\"language\":\"he\",\"value\":\"\\u05e7\\u05d5\\u05e0\\u05e1\\u05d5\\u05dc
        \\u05e8\\u05d5\\u05de\\u05d0\\u05d9 \\u05d1\\u05de\\u05d0\\u05d4 \\u05d4-3
        \\u05dc\\u05e4\\u05e1\\u05d4\\\"\\u05e0\"}},\"aliases\":{\"pt\":[{\"language\":\"pt\",\"value\":\"Curius
        Dentatus\"}],\"zh\":[{\"language\":\"zh\",\"value\":\"\\u5e93\\u91cc\\u4e4c\\u65af\\u00b7\\u767b\\u5854\\u56fe\\u65af\"}],\"fr\":[{\"language\":\"fr\",\"value\":\"Curius
        Dentatus\"}],\"es\":[{\"language\":\"es\",\"value\":\"Manio Curio Dentado\"}],\"ca\":[{\"language\":\"ca\",\"value\":\"Dentat\"},{\"language\":\"ca\",\"value\":\"Dentatus\"},{\"language\":\"ca\",\"value\":\"Manius
        Curius Dentatus\"}],\"it\":[{\"language\":\"it\",\"value\":\"Manius Curius
        Dentatus\"},{\"language\":\"it\",\"value\":\"Curio Dentato\"},{\"language\":\"it\",\"value\":\"Manlio
        Curio Dentato\"}],\"sh\":[{\"language\":\"sh\",\"value\":\"Manius Curius Dentatus\"},{\"language\":\"sh\",\"value\":\"Manije
        Kurije Dentat\"},{\"language\":\"sh\",\"value\":\"Curius Dentatus\"}],\"zh-hant\":[{\"language\":\"zh-hant\",\"value\":\"\\u8c9d\\u5167\\u6587\\u6258\\u6230\\u5f79\"}],\"zh-cn\":[{\"language\":\"zh-cn\",\"value\":\"\\u8d1d\\u5185\\u6587\\u6258\\u6218\\u5f79\"}],\"he\":[{\"language\":\"he\",\"value\":\"\\u05e7\\u05d5\\u05e8\\u05d9\\u05d5\\u05e1
        \\u05d3\\u05e0\\u05d8\\u05d0\\u05d8\\u05d5\\u05e1\"}]},\"claims\":{\"P21\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P21\",\"hash\":\"85ad4b1c7348f7a5aac521135040d74e91fb5939\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":6581097,\"id\":\"Q6581097\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"q382948$1DDB9EBC-2679-4C49-B346-A099D358845B\",\"rank\":\"normal\",\"references\":[{\"hash\":\"d5847b9b6032aa8b13dae3c2dfd9ed5d114d21b3\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"5a343e7e758a4282a01316d3e959b6e653b767fc\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":11920,\"id\":\"Q11920\"},\"type\":\"wikibase-entityid\"}}]},\"snaks-order\":[\"P143\"]}]}],\"P373\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P373\",\"hash\":\"289b0d224d8f71f0f96fbaf892f0d2a013f23ad1\",\"datavalue\":{\"value\":\"Curius
        Dentatus\",\"type\":\"string\"}},\"type\":\"statement\",\"id\":\"q382948$48619D6F-A925-4A82-9011-06D96505470B\",\"rank\":\"normal\",\"references\":[{\"hash\":\"288ab581e7d2d02995a26dfa8b091d96e78457fc\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"6a164248fc96bfa583bbb495cb63ae6401ec203c\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":206855,\"id\":\"Q206855\"},\"type\":\"wikibase-entityid\"}}]},\"snaks-order\":[\"P143\"]}]}],\"P31\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P31\",\"hash\":\"ad7d38a03cdd40cdc373de0dc4e7b7fcbccb31d9\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":5,\"id\":\"Q5\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q382948$5A3AEAFB-7FB3-477A-9C3B-FFCD5B08D33A\",\"rank\":\"normal\",\"references\":[{\"hash\":\"288ab581e7d2d02995a26dfa8b091d96e78457fc\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"6a164248fc96bfa583bbb495cb63ae6401ec203c\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":206855,\"id\":\"Q206855\"},\"type\":\"wikibase-entityid\"}}]},\"snaks-order\":[\"P143\"]}]}],\"P18\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P18\",\"hash\":\"816387feae3523e5e7dfe0b748e2c39e0c382936\",\"datavalue\":{\"value\":\"Flinck,
        Govert - Curius Dentatus Preferring Turnips to Gold - 1656.jpg\",\"type\":\"string\"}},\"type\":\"statement\",\"qualifiers\":{\"P2096\":[{\"snaktype\":\"value\",\"property\":\"P2096\",\"hash\":\"6da46c9de1739ebc537030aa9924ad36b36732d3\",\"datavalue\":{\"value\":{\"text\":\"Tot
        i que probablement falsa, \\u00e9s famosa la hist\\u00f2ria segons la qual
        els samnites van oferir grans regals a Dentat per subornar-lo, ell els va
        rebre assegut a terra i menjant naps, com a mostra de frugalitat, i els va
        rebutjar. L''episodi ha inspirat moltes obres, com aquest de Govert Flinck\",\"language\":\"ca\"},\"type\":\"monolingualtext\"}}]},\"qualifiers-order\":[\"P2096\"],\"id\":\"Q382948$92E7742A-85FC-4446-9A40-B858F1D2D06E\",\"rank\":\"normal\",\"references\":[{\"hash\":\"288ab581e7d2d02995a26dfa8b091d96e78457fc\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"6a164248fc96bfa583bbb495cb63ae6401ec203c\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":206855,\"id\":\"Q206855\"},\"type\":\"wikibase-entityid\"}}]},\"snaks-order\":[\"P143\"]}]}],\"P646\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P646\",\"hash\":\"4b561700b55473025776d028632a5066bc667fac\",\"datavalue\":{\"value\":\"\\/m\\/01w2h_\",\"type\":\"string\"}},\"type\":\"statement\",\"id\":\"Q382948$EDCD89DE-CE5D-4422-8D90-81CFBB4AAFE5\",\"rank\":\"normal\",\"references\":[{\"hash\":\"2b00cb481cddcac7623114367489b5c194901c4a\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"a94b740202b097dd33355e0e6c00e54b9395e5e0\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":15241312,\"id\":\"Q15241312\"},\"type\":\"wikibase-entityid\"}}],\"P577\":[{\"snaktype\":\"value\",\"property\":\"P577\",\"hash\":\"fde79ecb015112d2f29229ccc1ec514ed3e71fa2\",\"datavalue\":{\"value\":{\"time\":\"+2013-10-28T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}]},\"snaks-order\":[\"P248\",\"P577\"]}]}],\"P2358\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P2358\",\"hash\":\"f880d2752114aff39be288d62a320b8bfed3fb9d\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":6750275,\"id\":\"Q6750275\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q382948$88F73602-B190-4718-9AA2-CCF8AA000CAD\",\"rank\":\"normal\"},{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P2358\",\"hash\":\"46cbe2ff8df82c72f649b9c6981873823365af14\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":6757977,\"id\":\"Q6757977\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q382948$886BE0DE-3968-4477-9722-B4745F52C17D\",\"rank\":\"deprecated\"}],\"P39\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P39\",\"hash\":\"2f1216877a5bc4f7dd9f2ad3190179c6e96129e1\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":189851,\"id\":\"Q189851\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"qualifiers\":{\"P580\":[{\"snaktype\":\"value\",\"property\":\"P580\",\"hash\":\"8ef30d004e1687c4480b0a6c8dae6a31278de561\",\"datavalue\":{\"value\":{\"time\":\"-0272-00-00T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":9,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985786\"},\"type\":\"time\"}}],\"P582\":[{\"snaktype\":\"value\",\"property\":\"P582\",\"hash\":\"50439657cf7ae64dcc588505c5564b9ea6846360\",\"datavalue\":{\"value\":{\"time\":\"-0272-00-00T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":9,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985786\"},\"type\":\"time\"}}]},\"qualifiers-order\":[\"P580\",\"P582\"],\"id\":\"Q382948$170E69F6-E78A-481B-AF68-54FE8CC63351\",\"rank\":\"normal\"},{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P39\",\"hash\":\"7[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q1747689%7CQ5%7CQ6581097%7CQ97667506%7CQ98103687&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl&format=json
  response:
    body:
      string: '{"entities":{"Q1747689":{"type":"item","id":"Q1747689","labels":{"en":{"language":"en","value":"Ancient
        Rome"},"ru":{"language":"ru","value":"\u0414\u0440\u0435\u0432\u043d\u0438\u0439
        \u0420\u0438\u043c"},"es":{"language":"es","value":"Antigua Roma"},"it":{"language":"it","value":"civilt\u00e0
        romana"},"nl":{"language":"nl","value":"Oude Rome"},"pt":{"language":"pt","value":"Roma
        Antiga"},"fr":{"language":"fr","value":"Rome antique"},"de":{"language":"de","value":"R\u00f6misches
       [...]
