interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=compare&prop=user%7Cdiff%7Ctitle%7Crel%7Cids&format=json&fromrev=1904654376&torev=1970797296
  response:
    body:
      string: '{"compare":{"fromid":4973539,"fromrevid":1904654376,"fromns":0,"fromtitle":"Q5203589","fromuser":"Stephanouk","fromuserid":6272407,"toid":4973539,"torevid":1970797296,"tons":0,"totitle":"Q5203589","touser":"2601:647:5F01:F510:F9AF:C93:2499:181B","touserid":0,"prev":1818959679,"*":"<tr><td
        colspan=\"2\" class=\"diff-lineno\">Property / <a title=\"Property:P31\" href=\"/wiki/Property:P31\">instance
        of</a>: <a title=\"Q5\" href=\"/wiki/Q5\">human</a> / reference</td><td colspan=\"2\"
        class=\"diff-lineno\"></td></tr><tr><td class=\"diff-marker\" data-marker=\"\u2212\"></td><td
        class=\"diff-deletedline\"><div><del class=\"diffchange diffchange-inline\"><span><a
        title=\"Property:P143\" href=\"/wiki/Property:P143\">imported from Wikimedia
        project</a>: <a title=\"Q328\" href=\"/wiki/Q328\">English Wikipedia</a></span></del></div></td><td
        colspan=\"2\">\u00a0</td></tr>"}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&titles=Q5203589&rvprop=timestamp%7Cuser%7Ccomment%7Ctags&rvstartid=1970797296&rvendid=1904654376&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"4973539":{"pageid":4973539,"ns":0,"title":"Q5203589","revisions":[{"user":"2601:647:5F01:F510:F9AF:C93:2499:181B","anon":"","timestamp":"2023-09-09T04:57:09Z","comment":"/*
        wbsetclaim-update:2||1|1 */ [[Property:P31]]: [[Q5]]","tags":["new editor
        changing statement","wikidata-ui"]},{"user":"Stephanouk","timestamp":"2023-05-29T17:05:58Z","comment":"/*
        wbsetclaim-create:2||1 */ [[Property:P485]]: [[Q6548368]]","tags":["wikidata-ui"]}]}}}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=query&prop=revisions&rvprop=content%7Cids&titles=Q5203589&rvstartid=1904654376&format=json&rvslots=main&rvlimit=1
  response:
    body:
      string: '{"continue":{"rvcontinue":"20230125121926|1818959679","continue":"||"},"query":{"pages":{"4973539":{"pageid":4973539,"ns":0,"title":"Q5203589","revisions":[{"revid":1904654376,"parentid":1818959679,"slots":{"main":{"contentmodel":"wikibase-item","contentformat":"application/json","*":"{\"type\":\"item\",\"id\":\"Q5203589\",\"labels\":{\"en\":{\"language\":\"en\",\"value\":\"D.
        G. Bridson\"},\"es\":{\"language\":\"es\",\"value\":\"D. G. Bridson\"},\"nl\":{\"language\":\"nl\",\"value\":\"D.
        G. Bridson\"},\"fr\":{\"language\":\"fr\",\"value\":\"D. G. Bridson\"},\"hu\":{\"language\":\"hu\",\"value\":\"D.
        G. Bridson\"},\"sl\":{\"language\":\"sl\",\"value\":\"D. G. Bridson\"},\"tr\":{\"language\":\"tr\",\"value\":\"D.
        G. Bridson\"},\"ca\":{\"language\":\"ca\",\"value\":\"D. G. Bridson\"},\"ast\":{\"language\":\"ast\",\"value\":\"D.
        G. Bridson\"},\"id\":{\"language\":\"id\",\"value\":\"D. G. Bridson\"}},\"descriptions\":{\"en\":{\"language\":\"en\",\"value\":\"Radio
        producer and author and poet\"},\"nl\":{\"language\":\"nl\",\"value\":\"Brits
        radioproducer (1910-1980)\"},\"ar\":{\"language\":\"ar\",\"value\":\"\\u0645\\u0646\\u062a\\u062c
        \\u0631\\u0627\\u062f\\u064a\\u0648 \\u0645\\u0646 \\u0627\\u0644\\u0645\\u0645\\u0644\\u0643\\u0629
        \\u0627\\u0644\\u0645\\u062a\\u062d\\u062f\\u0629\"},\"ast\":{\"language\":\"ast\",\"value\":\"productor
        de radio brit\\u00e1nicu (1910\\u20131980)\"},\"tr\":{\"language\":\"tr\",\"value\":\"Radyo
        yap\\u0131mc\\u0131s\\u0131, yazar, ve \\u015fair\"}},\"aliases\":{\"en\":[{\"language\":\"en\",\"value\":\"Douglas
        Geoffrey Bridson\"}],\"tr\":[{\"language\":\"tr\",\"value\":\"Douglas Geoffrey
        Bridson\"}]},\"claims\":{\"P31\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P31\",\"hash\":\"ad7d38a03cdd40cdc373de0dc4e7b7fcbccb31d9\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":5,\"id\":\"Q5\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q5203589$CA217FCA-D428-4C7E-AD78-1612CCE6E35F\",\"rank\":\"normal\",\"references\":[{\"hash\":\"fa278ebfc458360e5aed63d5058cca83c46134f1\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"e4f6d9441d0600513c4533c672b5ab472dc73694\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":328,\"id\":\"Q328\"},\"type\":\"wikibase-entityid\"}}]},\"snaks-order\":[\"P143\"]}]}],\"P19\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P19\",\"hash\":\"b9c15199432393547235a87f8782593598cd6bc6\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":5694426,\"id\":\"Q5694426\"},\"type\":\"wikibase-entityid\"}},\"type\":\"statement\",\"id\":\"Q5203589$90730158-4EC1-4525-929D-5F0EB42BFCAC\",\"rank\":\"normal\",\"references\":[{\"hash\":\"fa278ebfc458360e5aed63d5058cca83c46134f1\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"e4f6d9441d0600513c4533c672b5ab472dc73694\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":328,\"id\":\"Q328\"},\"type\":\"wikibase-entityid\"}}]},\"snaks-order\":[\"P143\"]}]}],\"P570\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P570\",\"hash\":\"7c783034add83c54f3fbbd8642671f2ecd1f08d5\",\"datavalue\":{\"value\":{\"time\":\"+1980-10-19T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}},\"type\":\"statement\",\"id\":\"Q5203589$875E9DA0-5CD0-461B-9C89-913C248CC201\",\"rank\":\"normal\",\"references\":[{\"hash\":\"fa278ebfc458360e5aed63d5058cca83c46134f1\",\"snaks\":{\"P143\":[{\"snaktype\":\"value\",\"property\":\"P143\",\"hash\":\"e4f6d9441d0600513c4533c672b5ab472dc73694\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":328,\"id\":\"Q328\"},\"type\":\"wikibase-entityid\"}}]},\"snaks-order\":[\"P143\"]},{\"hash\":\"4fafda6d306fe54f0cc59331af3da8fccb0fc292\",\"snaks\":{\"P248\":[{\"snaktype\":\"value\",\"property\":\"P248\",\"hash\":\"f98ec89708e8eab9511c049702ef59df0721d652\",\"datavalue\":{\"value\":{\"entity-type\":\"item\",\"numeric-id\":29861311,\"id\":\"Q29861311\"},\"type\":\"wikibase-entityid\"}}],\"P3430\":[{\"snaktype\":\"value\",\"property\":\"P3430\",\"hash\":\"3fd7f941ebc99616ba04d69acd2fb1cb9e546ed8\",\"datavalue\":{\"value\":\"w6kf73cd\",\"type\":\"string\"}}],\"P1810\":[{\"snaktype\":\"value\",\"property\":\"P1810\",\"hash\":\"b94eb1c947e9bb70e985fe7ec225626393d8f692\",\"datavalue\":{\"value\":\"D.
        G. Bridson\",\"type\":\"string\"}}],\"P813\":[{\"snaktype\":\"value\",\"property\":\"P813\",\"hash\":\"e5f60ab0b03700bb883efce38f8022d023bc49fb\",\"datavalue\":{\"value\":{\"time\":\"+2017-10-09T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}}]},\"snaks-order\":[\"P248\",\"P3430\",\"P1810\",\"P813\"]}]}],\"P569\":[{\"mainsnak\":{\"snaktype\":\"value\",\"property\":\"P569\",\"hash\":\"36adc8e656f537d84e7b984aa07a33dd19fb72b6\",\"datavalue\":{\"value\":{\"time\":\"+1910-08-21T00:00:00Z\",\"timezone\":0,\"before\":0,\"after\":0,\"precision\":11,\"calendarmodel\":\"http:\\/\\/www.wikidata.org\\/entity\\/Q1985727\"},\"type\":\"time\"}},\"type\":\"statement\",\"id\":\"Q5203589$D97C6739-F458-4446-8AE1-F6C7EFC91C4B\",\"rank\":\"normal\",\"references\":[{\"hash\":\"fa278ebfc458360e5aed63d5058cca83c46134f1\",\"sna[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P143%7CP31%7CQ328%7CQ5&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car&format=json
  response:
    body:
      string: '{"entities":{"P143":{"type":"property","datatype":"wikibase-item","id":"P143","labels":{"nl":{"language":"nl","value":"ge\u00efmporteerd
        uit Wikimedia-project"},"de":{"language":"de","value":"importiert aus Wikimedia-Projekt"},"fr":{"language":"fr","value":"import\u00e9
        du projet Wikimedia"},"it":{"language":"it","value":"importato dal progetto
        Wikimedia"},"ru":{"language":"ru","value":"\u0438\u043c\u043f\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u043e
        \u0438\u0437 \u043f\u0440\u043e\u0435\u043a\u0442\u0430 \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430"},"pt":{"language":"pt","value":"importado
        do projeto Wikimedia"},"ar":{"language":"ar","value":"\u0645\u0633\u062a\u0648\u0631\u062f
        \u0645\u0646 \u0645\u0634\u0631\u0648\u0639 \u0648\u064a\u0643\u064a\u0645\u064a\u062f\u064a\u0627"},"en":{"language":"en","value":"imported
        from Wikimedia project"},"es":{"language":"es","value":"importado del proyecto
        Wikimedia"}},"descriptions":{"nl":{"language":"nl","value":"bron van deze
        verklaring, gelieve alleen in bronnense[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q145%7CQ174193%7CQ19803500%7CQ3406651%7CQ5%7CQ5694426%7CQ6581097&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car&format=json
  response:
    body:
      string: '{"entities":{"Q145":{"type":"item","id":"Q145","labels":{"es":{"language":"es","value":"Reino
        Unido"},"ar":{"language":"ar","value":"\u0627\u0644\u0645\u0645\u0644\u0643\u0629
        \u0627\u0644\u0645\u062a\u062d\u062f\u0629"},"pt":{"language":"pt","value":"Reino
        Unido"},"ru":{"language":"ru","value":"\u0412\u0435\u043b\u0438\u043a\u043e\u0431\u0440\u0438\u0442\u0430\u043d\u0438\u044f"},"nl":{"language":"nl","value":"Verenigd
        Koninkrijk"},"de":{"language":"de","value":"Vereinigtes K\u00f6n[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://en.wikipedia.org/w/api.php?action=query&prop=extracts%7Ccategories&cllimit=max&exchars=225&explaintext=true&exsectionformat=plain&titles=D.+G.+Bridson&format=json
  response:
    body:
      string: '{"batchcomplete":"","query":{"pages":{"32356313":{"pageid":32356313,"ns":0,"title":"D.
        G. Bridson","extract":"Douglas Geoffrey Bridson (21 August 1910 \u2013 19
        October 1980), commonly known as D. G. Bridson, was a radio producer and author
        who became the \"cultural boss of the BBC\".\n\n\nBiography\nDouglas Bridson
        (he was known to all as Geoffrey...","categories":[{"ns":14,"title":"Category:1910
        births"},{"ns":14,"title":"Category:1980 deaths"},{"ns":14,"title":"Category:20th-century
        British businesspeople"},{"ns":14,"title":"Category:All stub articles"},{"ns":14,"title":"Category:Articles
        with SNAC-ID identifiers"},{"ns":14,"title":"Category:Articles with hCards"},{"ns":14,"title":"Category:BBC
        stubs"},{"ns":14,"title":"Category:Burials at Highgate Cemetery"},{"ns":14,"title":"Category:English
        radio producers"},{"ns":14,"title":"Category:Mass media people from Manchester"},{"ns":14,"title":"Category:People
        from Stockport"},{"ns":14,"title":"Category:Use dmy dates from April 2022"}]}}},"limits":{"categories":500}}'
    headers:
      Content-Disposition:
      - inline; filename=api-result.json
      Content-Type:
      - application/json; charset=utf-8
      x-client-ip:
      - 98.47.144.232
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=P143%7CP31%7CQ328%7CQ5&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car%7Cuk%7Cbn%7Csq%7Che%7Cko%7Cbg%7Csk%7Cvi%7Cel%7Csv%7Chu%7Cid%7Cast%7Cga%7Cpl%7Cth%7Cfa%7Cur%7Cmk%7Cbe%7Cml%7Ceu%7Czh-hant&format=json
  response:
    body:
      string: '{"entities":{"P143":{"type":"property","datatype":"wikibase-item","id":"P143","labels":{"nl":{"language":"nl","value":"ge\u00efmporteerd
        uit Wikimedia-project"},"de":{"language":"de","value":"importiert aus Wikimedia-Projekt"},"fr":{"language":"fr","value":"import\u00e9
        du projet Wikimedia"},"it":{"language":"it","value":"importato dal progetto
        Wikimedia"},"uk":{"language":"uk","value":"\u0432\u0437\u044f\u0442\u043e
        \u0437"},"fa":{"language":"fa","value":"\u062f\u0631\u0648\u0646\u200c\u0631\u06cc\u0632\u06cc
        \u0627\u0632"},"he":{"language":"he","value":"\u05de\u05d9\u05d5\u05d1\u05d0
        \u05de\u05de\u05d9\u05d6\u05dd \u05d5\u05d9\u05e7\u05d9\u05de\u05d3\u05d9\u05d4"},"be":{"language":"be","value":"\u0443\u0437\u044f\u0442\u0430
        \u0437"},"ru":{"language":"ru","value":"\u0438\u043c\u043f\u043e\u0440\u0442\u0438\u0440\u043e\u0432\u0430\u043d\u043e
        \u0438\u0437 \u043f\u0440\u043e\u0435\u043a\u0442\u0430 \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430"},"pt":{"language":"pt","value":"importado
        do projeto Wikimedia"},"vi":{"language":"vi","value":"nh\u1eadp t\u1eeb d\u1ef1
        \u00e1n Wikimedia"},"hu":{"language":"hu","value":"import\u00e1lva ebb\u0151l
        a Wikim\u00e9dia-projektb\u0151l"},"el":{"language":"el","value":"\u03c0\u03c1\u03bf\u03ad\u03c1\u03c7\u03b5\u03c4\u03b1\u03b9
        \u03b1\u03c0\u03cc \u03b5\u03b3\u03c7\u03b5\u03af\u03c1\u03b7\u03bc\u03b1
        Wikimedia"},"ar":{"language":"ar","value":"\u0645\u0633\u062a\u0648\u0631\u062f
        \u0645\u0646 \u0645\u0634\u0631\u0648\u0639 \u0648\u064a\u0643\u064a\u0645\u064a\u062f\u064a\u0627"},"sv":{"language":"sv","value":"importerat
        fr\u00e5n Wikimediaprojekt"},"ko":{"language":"ko","value":"\ub2e4\uc74c \uc704\ud0a4\ubbf8\ub514\uc5b4
        \uc704\ud0a4\uc5d0\uc11c \ub4e4\uc5ec\uc628 \uc11c\uc220\uc784"},"ml":{"language":"ml","value":"\u0d07\u0d31\u0d15\u0d4d\u0d15\u0d41\u0d2e\u0d24\u0d3f
        \u0d38\u0d4d\u0d30\u0d4b\u0d24\u0d38\u0d4d"},"pl":{"language":"pl","value":"pobrano
        z projektu Wikimedia"},"zh-hant":{"language":"zh-hant","value":"\u532f\u5165\u81ea\u7dad\u57fa\u5a92\u9ad4\u5c08\u6848"},"id":{"language":"id","value":"diimpor
        dari proyek Wikimedia"},"bn":{"language":"bn","value":"\u09af\u09c7 \u0989\u0987\u0995\u09bf\u09ae\u09bf\u09a1\u09bf\u09af\u09bc\u09be
        \u09aa\u09cd\u09b0\u0995\u09b2\u09cd\u09aa \u09a5\u09c7\u0995\u09c7 \u0986\u09ae\u09a6\u09be\u09a8\u09bf\u0995\u09c3\u09a4"},"sq":{"language":"sq","value":"importuar
        nga"},"bg":{"language":"bg","value":"\u0432\u043d\u0435\u0441\u0435\u043d\u043e
        \u043e\u0442"},"th":{"language":"th","value":"\u0e19\u0e33\u0e40\u0e02\u0e49\u0e32\u0e02\u0e49\u0e2d\u0e21\u0e39\u0e25\u0e08\u0e32\u0e01"},"mk":{"language":"mk","value":"\u0443\u0432\u0435\u0437\u0435\u043d\u043e
        \u043e\u0434"},"sk":{"language":"sk","value":"prebrat\u00e9 z"},"eu":{"language":"eu","value":"iturria"},"ast":{"language":"ast","value":"importao
        del proyeutu Wikimedia"},"ur":{"language":"ur","value":"\u062f\u0631\u0622\u0645\u062f
        \u0634\u062f\u06c1 \u0627\u0632"},"en":{"language":"en","value":"imported
        from Wikimedia project"},"es":{"language":"es","value":"importado del proyecto
        Wikimedia"},"ga":{"language":"ga","value":"iomp\u00f3rt\u00e1ilte \u00f3 thionscadal
        Vicip\u00e9ide"}},"descriptions":{"nl":{"language":"nl","value":"bron van
        deze verklaring, gelieve alleen in bronnensectie gebruiken door robots die
        data vanuit Wikimedia projecten importeren"},"it":{"language":"it","value":"fonte
        del valore dell''asserzione; da usare solo nella sezione riferimenti per indicare
        il progetto Wikimedia da cui il dato \u00e8 stato importato"},"pt":{"language":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&ids=Q145%7CQ174193%7CQ19803500%7CQ3406651%7CQ5%7CQ5694426%7CQ6581097&props=labels%7Cdescriptions&languages=en%7Cde%7Cfr%7Ces%7Cru%7Cit%7Cpt%7Cnl%7Car%7Cuk%7Cbn%7Csq%7Che%7Cko%7Cbg%7Csk%7Cvi%7Cel%7Csv%7Chu%7Cid%7Cast%7Cga%7Cpl%7Cth%7Cfa%7Cur%7Cmk%7Cbe%7Cml%7Ceu%7Czh-hant&format=json
  response:
    body:
      string: '{"entities":{"Q145":{"type":"item","id":"Q145","labels":{"el[...]
[...]
